body
{
	min-width: 980px;
	margin: 0;
	padding: 0;
	border: 0;
	background: #efefef;
	font: normal 0.88em/140% arial, helvetica, verdana, sans-serif;
	color: #000;
}

/* ########## Standard elements ########## */
h1, h2, h3, h4, h5, h6
{
	margin: 0;
	padding: 0 0 0.7em 0;
	border: 0;
	font-family: 'trebuchet ms', verdana, sans-serif;
	font-weight: bold;
}

h1
{
	padding: 2em 0 0.7em 0;
	font-size: 200%;
	font-weight: normal;
}

h2
{
	padding: 1.6em 0 0.7em 0;
	font-size: 160%;
}

h3
{
	padding: 1.4em 0 0.7em 0;
	font-size: 140%;
}

h4
{
	padding: 1.2em 0 0.7em 0;
	font-size: 140%;
	font-style: italic;
}

h5
{
	padding: 1em 0 0.7em 0;
	font-size: 120%;
}

h6
{
	padding: 1em 0 0.7em 0;
	font-size: 110%;
}

p
{
	display: block;
	margin: 0.5em 0 0.5em 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

blockquote
{
	display: block;
	margin: 0 2em 1em 2em;
	padding: 0;
	border: 0;
	font-size: 100%;
}

table
{
	margin: 0.5em 0 0.5em 0;
	padding: 0;
	border: 1px solid #ccc;
	border-collapse: collapse;
	font-size: 100%;
}

th
{
	border: 1px solid #ccc;
	border-collapse: collapse;
	padding: 3px;
}

td
{
	border: 1px solid #ccc;
	border-collapse: collapse;
	padding: 3px;
}

ol, ul
{
	display: block;
	margin: 0 0 0 3em;
	padding: 0;
	border: 0;
	font-size: 100%;
}

.cascadeloweralpha ol li,
.loweralpha { list-style-type: lower-alpha; }

.cascadeupperalpha ol li,
.upperalpha { list-style-type: upper-alpha; }

.cascadecircle ul li,
.circle { list-style-type: circle; }

cascadesquare li,
.square { list-style-type: square; }

li { margin: 0 0 0.8em 0; }

a { color: #06f; }

a:hover
{
	color: #06f;
	text-decoration: underline;
}

a:visited { color: #06f; }

img, img a { border: 0; }

.top
{
	border: 0;
	padding-top: 0;
	padding-bottom: 1em;
	margin-top: 0;
	clear: both;
}

hr
{
	margin: 0;
	padding: 0;
	border: 0;
	border-bottom: 1px solid #ccc;
}

.th1
{
	background-color: #c5d2e9;
	text-align: left;
	font-weight: bold;
	border: 1px solid #999;
}

.th2
{
	background-color: #ebeff5;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
}

.odd
{
	background-color: #fff;
	border: 0;
}

.even
{
	background-color: #e2edfd;
	border: 0;
}

.odd td, .even td
{
	border: 0;
}


/* ########## Globally useful definitions ########## */

/* ---- Block block elements ---------- */
.block, .widget
{
	display: block;
	margin: 0 10px 1em 10px;
	padding: 0;
	border: 0;
}

#squish .block
{
	margin-right: 20px;
	margin-left: 20px;
}


/* ---- Clearing block ---------- */
.visualclear
{
	display: block;
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;	
}

.visualhide
{
	display: none !important;
}

.printonly
{
	display: none;
}

.plain
{
	border: 0;
	background: none;
}

/* ########## Blocks style definitions ########## */

#page
{
	width: 980px;
	min-width: 980px;
	margin: 0 auto;
	padding: 0;
	border: 1px solid #999;
	border-collapse: collapse;
	background-color: #fff;
}

/* --- Header elements --- */

#header
{
	display: block;
	width: 980px;
	height: 86px;
	min-width: 980px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
	border-bottom: 1px solid #999; /*--Create bevel effect--*/
	background-color: #000;
}

#vitalheader 
{
    width: 900px;
    height: 37px;
    display: block;
    background: #eeeeee url('../img/vital.gif') left top no-repeat;
}

#logo_project, #logo_project a
{
	display: block;
	float: left;
	width: 400px;
	height: 86px;
	overflow: hidden;
	margin:  0 0 0 10px;
	padding: 0;
	border: 0;
	background: transparent url('../img/logo_wardenclyffe.png') left center no-repeat;
}

#logo_ccnmtl, #logo_ccnmtl a
{
	display: block;
	clear: right;
	float: right;
	width: 154px;
	height: 26px;
	overflow: hidden;
	margin: 0 10px 0 0;
	padding: 0;
	border: 0;
	background: transparent url('../img/logo_ccnmtl.png') left top no-repeat;
}

#logo_project a, #logo_ccnmtl a
{
	float: none;
	margin: 0;
}

#logo_project span, #logo_ccnmtl span
{
	display: none;
}

#desc_project
{
	display: block;
	position: absolute;
	top: 70px;
	float: left;
	width: 400px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	padding-left: 113px;
	border: 0;
	font-size: 110%;
	color: #fff;
}

/* --- Standard navigation --- */

#standard_navigation
{
	display: block;
	float: right;
	overflow: hidden;
	margin: 0 10px 32px 0;
	padding: 0;
	border: 0;
	font-size: 12px;
	line-height: 21px;
	list-style: none;
}

#standard_navigation li
{
	float: left;
	margin: 0;
	padding: 0 0 0 15px;
	border: 0;
	list-style: 0;
	color: #fff;
	font-size: 11px;
}

#standard_navigation a
{
	color: #ccc;
	text-decoration: none;
}

#standard_navigation a:hover
{
	color: #fc6 !important;
}

/* ---- globalnav block elements ---------- */
#globalnav
{
	width: 980px;
	height: 30px;
	min-width: 980px;
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;
	border-top: 1px solid #000; /*--Create bevel effect--*/
	background: #333;
}


#globalnav ul#leftside { float: left; }
#globalnav ul#rightside { float: right; }

/* ---- Global menu further def ---------- */


ul.topnav
{
	width: 500px;
	float: left;
	margin: 0 10px;
	padding: 0;
	border: 0;
	list-style: none;
	background-color: #333;
	color: #fff;
	line-height: 30px;
}

ul.topnav li
{
	float: left;
	margin: 0 14px 0 0;
	padding: 0 7px;
	border: 0;
	border-left: 1px solid #333;
	border-right: 1px solid #333;	/*border: 1px solid #f00;*/
	position: relative;   /*--Declare X and Y axis base for sub navigation--*/
	cursor: pointer;
}

ul.topnav li.home
{
	background: url('../img/icon_globalnav.png') 2px -56px no-repeat;
	padding-left: 20px;
}

ul.topnav li.search
{
	background: url('../img/icon_globalnav.png') 2px -77px no-repeat;
	padding-left: 20px;
}

ul.topnav li.globalnavsub
{
	background: url('../img/icon_globalnav.png') right 5px no-repeat;
	padding-right: 20px;
}

ul.topnav li a
{
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	border: 0;
	/*border: 1px solid #0f0;*/
	color: #fff;
	text-decoration: none;
}

ul.topnav li:hover
{
	background-color: #555;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}

ul.topnav li.globalnavsub:hover { background: #555 url('../img/icon_globalnav.png') right -25px no-repeat; }

/*--Hover effect for trigger--*/
ul.topnav li ul.subnav
{
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	width: 100px;
	display: none;
	left: -1px;
	top: 30px;
	float: left;
	margin: 0;
	padding: 0;
	border: 0;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	/*border: 1px solid #111;*/
	background: #555;
	list-style: none;
	-moz-box-shadow: 2px 2px 5px #666;
	-webkit-box-shadow: 2px 2px 5px #666;
	box-shadow: 2px 2px 5px #666;
}

ul.topnav li ul.subnav li
{
	width: 100px;
	margin: 0;
	padding: 0;
	border: 0;
	border-top: 1px solid #000; /*--Create bevel effect--*/
	border-bottom: 1px solid #666; /*--Create bevel effect--*/
	clear: both;
}

html ul.topnav li ul.subnav li a
{
	float: left;
	width: 80px;
	background: url('../img/dropdown_linkbg.png') no-repeat 6px center;
	padding-left: 20px;
}

html ul.topnav li ul.subnav li a:hover
{
	/*--Hover effect for subnav links--*/
	background: #333 url('../img/dropdown_linkbg.png') no-repeat 6px center;
}





/* ---- Primary navigation block elements ---------- */
#primarynav
{
	width: 900px;
	height: 30px;
	min-width: 900px;
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;
	border-top: 1px solid #eee;
	background-color: #666;
}

#primarynav div.encase
{
	width: 900px;
	height: 30px;
}

#primarynav ul
{
	float: left;
	height: 30px;
	margin: 0 10px;
	padding: 0;
	border: 0;
	list-style: none;
}

#primarynav #leftside ul
{
	float: left;
}

#primarynav #rightside ul
{
	float: right;
}

#primarynav li
{
	display: block;
	float: left;
	margin: 3px;
	padding: 0 0.5em;
	border: 0;
	background-color: #999;
	line-height: 24px;
}

#primarynav li:hover
{
	background-color: #ccc;
}

#primarynav a
{
	color: #000;
	text-decoration: none;
}

#primarynav a:hover
{
	color: #666;
	text-decoration: none;
}

#primarynav #usernav li
{
	background: transparent;
	font-weight: bold;
	color: #000;
	
}

#primarynav #usernav li a
{
	color: #000;
	
}

#primarynav #usernav li a:hover
{
	color: #fff;
	
}

#usernav
{
	background: transparent;
	font-weight: bold;
	color: #ccc;
	
}

#primarynav #leftside #usernav
{
	float: right;
}

#primarynav #rightside #usernav
{
	float: left;
}

 /* ---- Pagebody block elements ---------- */
#pagebody
{
	display: block;
	width: 980px;
	min-width: 980px;
	clear: both;
	margin: 0;
	padding: 1em 0 0 0;
	border: 0;
	background-color: #fff;
}


/* ---- Sidebar Left block elements ---------- */
#sidebar_left
{
	display: block;
	float: left;
	width: 200px;
	margin: 0;
	padding: 1em 0;
	border: 0;
	z-index: 100;
}

.three_columns #sidebar_left
{
	display: block;
}

.two_columns_left #sidebar_left
{
	display: block;
}

.two_columns_right #sidebar_left
{
	display: none;
}

.one_column #sidebar_left
{
	display: none;
}

/* ---- Sidebar Right block elements ---------- */
#sidebar_right
{
	display: block;
	float: left;
	width: 200px;
	margin: 0;
	padding: 1em 0;
	border: 0;
	z-index: 10;
}

.three_columns #sidebar_right
{
	display: block;
}

.two_columns_left #sidebar_right
{
	display: none;
}

.two_columns_right #sidebar_right
{
	display: block;
}

.one_column #sidebar_right
{
	display: none;
}

/* ---- Sidebar block elements ---------- */

.sidebar
{
	padding: 0;
	border: 1px solid #ccc;
	font-size: 92%;
	line-height: 130%;
}

.sidebar h2
{
	margin: 0 0 0.7em 0;
	padding: 2px;
	border: 0;
	border-bottom: 1px solid #999;
	background-color: #e0e0e0;
	font-size: 108%;	
}

.sidebar .content
{
	margin: 0 0.5em 0.7em 0.5em;
	padding: 0;
	border: 0;
}

.sidebar ol
{
	margin: 0 0 0 1.5em;
	padding: 0;
	border: 0;
}

.sidebar li
{
	margin: 0 0 0.4em 0;
	padding: 0;
	border: 0;
}

.sidebar ul
{
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}

.sidebar ul li
{
	padding: 0 0 0 1.2em;
	background: url('../img/bullet_blue.gif') left 0.2em no-repeat;
}

.sidebar a
{
	color: #06c;
	text-decoration: none;
}

.sidebar a:hover
{
	color: #69c;
	text-decoration: none;
}

#sidebarlogo
{
	margin-bottom: 2em;
	padding: 0;
	border: 0;
	font-size: 92%;
	line-height: 130%;
}

#sidebarlogo #logo_ccnmtl
{
	display: block;
	width: 146px;
	height: 33px;
	overflow: hidden;
	margin: auto;
	padding: 0;
	border: 0;
	background: transparent url('../img/logo_ccnmtl_sidebar.gif') left top no-repeat;
}

#sidebarlogo #logo_ccnmtl a
{
	display: block;
	width: 145px;
	height: 33px;
	margin: 0;
	padding: 0;
	border: 0;
}

#sidebarlogo #logo_ccnmtl span
{
	display: none;
}

/* ---- Content block elements ---------- */
#content
{
	display: block;
	float: left;
	margin: 0;
	padding: 1em 0;
	border: 0;
	width: 558px;
}

#content a { color: #06f; }

#content a:hover
{
	color: #06f;
	text-decoration: none;
}

#squish
{
	margin: 0;
	padding: 0;
	border: 0;
}

.three_columns #content
{
	display: block;
}

.two_columns_left #content,
.two_columns_right #content
{
	display: block;
	width: 699px;
}

.two_columns_right #squish
{
	margin: 0 0 0 10px;
}

.one_column #content
{
	display: block;
	float: none;
	width: 980px;
}

.top { margin-top: 0; }

.pageheader
{
	margin-top: 0;
}

/* ---- Footer block elements ---------- */
#footer
{
	display: block;
	width: 980px;
	height: 30px;
	min-width: 980px;
	clear: both;
	margin: 0;
	padding: 30px 0 10px 0;
	border: 0;
	background-color: #fff;
	text-align: center;
}

#footer img
{
	margin: 0 2px;
	padding: 0;
	border: 0;
}

#footer a { text-decoration: none; }

/* ########## MT-preserved style definitions ########## */

.mt-image-left
{
	float: left;
	margin: 0 10px 10px 0 !important;
}

.mt-image-center
{
	display: block;
	margin: 0 auto 10px !important;
	text-align: center;
}

.mt-image-right
{
	float: right;
	margin: 0 0 10px 10px !important;
}

/* resizable textarea styles */
textarea.resizable {width: 90%; height: 90%;}

.resize-handle {
               cursor: se-resize;
               position: absolute;
               float: right;
}


/* styles for hs.js */
.hs-show { display: block; }
.hs-hide { display: none; }

/* styles for tabber.js */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
 /*margin-top:1em;*/
 margin: 0;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 3px 0;
 border-bottom: 1px solid #778;
        font-family: arial, helvetica, verdana, sans-serif;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}
        
ul.tabbernav li a
{
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #778;
 border-bottom: none;
 background: #DDE;
 text-decoration: none;
}
 
ul.tabbernav li a:link { color: #448; }
ul.tabbernav li a:visited { color: #667; }
        
ul.tabbernav li a:hover
{
 color: #000;
 background: #AAE;
 border-color: #227;
}
ul.tabbernav li.tabberactive a
{
 background-color: #fff;
 border-bottom: 1px solid #fff;
}

ul.tabbernav li.tabberactive a:hover
{
 color: #000;
 background: white;
 border-bottom: 1px solid white;
}

.tabberlive .tabbertab {
 margin: 0;
 padding:0;
 border: 0;
}




/* ########## FOR FLUID WIDTH CSS ############### */
/* ########## Blocks style definitions ########## */

body.fluid #page
{
	margin: 0 10px;
	width: auto;
}

/* ---- Header block elements ---------- */
body.fluid #header
{
	width: 100%;
}


/* ---- Delta block elements ---------- */
body.fluid #primarynav,
body.fluid #primarynav div.encase
{
	width: 100%;
}

/* ---- Pagebody block elements ---------- */
body.fluid #pagebody
{
	width: 100%;
}

/* ---- Footer block elements ---------- */
body.fluid #footer
{
	width: 100%;
}

/* ---- Content block elements ---------- */
body.fluid #content
{
	margin: 0 -205px;
	width: 100%;
}

.three_columns.fluid #squish
{
	margin: 0 210px;
}

.two_columns_left.fluid #content,
.two_columns_right.fluid #content
{
	display: block;
	width: 100%;
}

.two_columns_left.fluid #content
{
	margin-right: 0;
}

.two_columns_left.fluid #squish
{
	margin: 0 0 0 210px;
}

.two_columns_right.fluid #content
{
	margin-left: 0;
}

.two_columns_right.fluid #squish
{
	margin: 0 210px 0 10px;
}

.one_column.fluid #content
{
	display: block;
	float: none;
	width: 100%;
	margin: 0;
}

.one_column.fluid #squish
{
	margin: 0;
	padding: 0;
	border: 0;
}

th { background-color: #ccc; vertical-align: top;}
td {vertical-align: top;}
tr.odd th {background-color: #ddd;}
tr.even td {background-color: #e9f1fc;}

/*
tr.operation td { background-color: #eee; }
tr td.failed { color: #f00; background-color: #fdd;}
tr td.complete { color: #060; background-color: #dfd;}
tr td.submitted { color: #660; background-color: #ffd;}
*/

tr.log td { color: #666; }
tr.file td {background-color: #ddf;}

.dc {font-size: .8em; font-style: italic; color: #666;}

/*
#vitaldropform {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 25px;
  border: #000 solid 1px;
  padding: 25px;
}

*/
/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #666;
    color: #fff;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	padding: 4px;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}



/* Widgets */

.wc_button
{
	margin: 0 0 5px 0;
	padding: 4px;
	padding: 4px 0;
	background-color: #efefef;
	display: block;
	border: 1px solid #999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font: normal 12px arial, helvetica, verdana, sans-serif;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
	background: -moz-linear-gradient(top, #fff, #ccc);
	font-weight: bold;
	color: #666;
}

.active_button
{
	border: 1px solid #f90;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ffcc99));
	background: -moz-linear-gradient(top, #fff, #ffcc99);
	color: #000;
}

.inactive_button
{
	border: 1px solid #ccc;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
	background: -moz-linear-gradient(top, #fff, #e0e0e0);
	color: #ccc;
	padding: 0px;
}

.inactive_button a
{
	display: block;
	text-decoration: none;
	color: #999 !important;
	padding: 4px;
}

.inactive_button:hover
{
	border: 1px solid #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
	background: -moz-linear-gradient(top, #fff, #ccc);
	color: #666;
}

.inactive_button a:hover
{
	color: #666 !important;
}

.wc_help_button
{
	margin: 0;
	width: 14px;
	padding: 1px 0;
	background-color: #efefef;
	display: block;
	border: 1px solid #06f;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	font: bold 11px arial, helvetica, verdana, sans-serif;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#beddf5));
	background: -moz-linear-gradient(top, #fff, #beddf5);
	font-weight: bold;
	color: #06f;
	text-align: center;
	cursor: pointer;
}

.regbutton
{
	cursor: pointer;
	padding: 4px 17px;
	margin-bottom: 1em;
	margin-right: 1em;
	color: #000;
	font-weight: normal;
	font-size: 14px;
	border: 1px solid #999;
	border-bottom: 1px solid #666;
	border-left-color: #999;
	border-right-color: #999;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	text-align: center;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
	background: -moz-linear-gradient(top, #fff, #ccc);
	font: bold 14px arial, helvetica, verdana, sans-serif !important;
	text-transform: uppercase;
}

.regbutton:hover
{
	border: 1px solid #f90;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ffcc99));
	background: -moz-linear-gradient(top, #fff, #ffcc99);
}

.regbutton:active
{
	border: 1px solid #f60;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ff9933));
	background: -moz-linear-gradient(top, #fff, #ff9933);
}

.floatleft
{
	float: left;
}

.floatright
{
	float: right;
}

/* ---- Tables further def ---------- */

.dashboard, .sectionbox
{
	display: block;
	margin: 0;
	padding: 0;
	border: 1px solid #999;
	background-color: #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	float: left;
	font: normal 12px arial, helvetica, verdana, sans-serif;
}

.recent_videos
{
	margin: 0;
	padding: 0;
	width: 615px;
	float: left;
}

.recent_series
{
	margin: 0 0 0 20px;
	padding: 0;
	width: 300px;
	float: left;
}

.dashboard .table-header, .sectionbox .section-header
{
	margin: 0;
	padding: 0 5px;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	background: #e0e0e0;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	height: 26px;
}

.dashboard .table-header div
{
	float: left;
}

.dashboard div.see_more
{
	font-weight: normal;
	font-size: 11px;
	background: url('../img/icon_more.gif') left center no-repeat;
	line-height: 26px;
	width: 75px;
}

.dashboard div.add_new
{
	font-weight: normal;
	font-size: 11px;
	background: url('../img/icon_add.gif') left center no-repeat;
	line-height: 26px;
	width: 65px;
}

.see_more a, .add_new a
{
	padding-left: 18px;
}

.recent_videos .table-header .table_title
{
	width: 465px;
}

.recent_series .table-header .table_title
{
	width: 150px;
}

.dashboard table
{
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

.dashboard td
{
	border: 0;
	padding-right: 10px;
	padding-left: 10px;
}

div.measure
{
	margin: 0;
	padding: 0;
	height: 10px;
	width: 99px;
	border-left: 1px solid #f00;
	float: left;
	background-color: #efefef;
}

.video_item
{
	font: normal 12px arial, helvetica, verdana, sans-serif;
}

.video_item_lead
{
	margin: 0;
	padding: 0 0 0 12px;
	border: 0;
	font: normal 12px arial, helvetica, verdana, sans-serif;
	background: url('../img/arrow_close.gif') left center no-repeat;
	cursor: pointer;
}

.video_item_lead_open
{
	margin: 0;
	padding: 0 0 0 12px;
	border: 0;
	font: normal 12px arial, helvetica, verdana, sans-serif;
	background: url('../img/arrow_open.gif') left center no-repeat;
	cursor: pointer;
}

.video_item_details
{
	margin: 0;
	padding: 5px 12px;
	border: 0;
}

.video_title
{
	font-weight: bold;
	color: #06f;
}

.series_title
{
	font-weight: bold;
	color: #666;
}

.video_owner
{
	font-weight: bold;
	color: #666;
}

.video_thumbnail
{
	margin: 0;
	padding: 0;
	border: 1px solid #999;
	float: left;
}

.video_thumbnail a
{
	display: block;
	margin: 0;
	padding: 0;
}

.video_url
{
	margin: 0 0 5px 10px;
	padding: 3px;
	float: left;
	background-color: #efefef;
	display: block;
	border: 1px solid #06f;
	background-color: #e9f1fc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font: normal 12px arial, helvetica, verdana, sans-serif;
}

.video_url a
{
	display: block;
	text-decoration: none;
	font-size: 11px;
}

.video_operations
{
	margin: 0 0 0 10px;
	padding: 0;
	border: 1px solid #ccc;
	border-collapse: collapse;
	float: left;
	width: 390px;
	background-color: #efefef;
}

.video_operations_item
{
	margin: 0;
	padding: 4px;
	border: 0;
	border-bottom: 1px dotted #ccc;
	border-collapse: collapse;
	clear: both;
	line-height: 16px;
}

.operation_status
{
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	margin: 0 5px 0 0;
	padding: 0;
	border: 0;
	background: url('../img/icon_progress.gif') 0 0 no-repeat;
}

.complete
{
	background: url('../img/icon_success.gif') 0 0 no-repeat;
}

.submitted {
 	background: url('../img/icon_submitted.gif') 0 0 no-repeat;
}

.failed
{
	background: url('../img/icon_failed.gif') 0 0 no-repeat;
}

.operation_action, .operation_date
{
	margin: 0 5px 0 0;
	padding: 0;
	border: 0;
	float: left;
}

.operation_action
{
	padding-right: 5px;
	border-right: 1px solid #ccc;
}

tr.operation td { background-color: #eee; }

tr td.failed
{
	color: #f00;
	background-color: #fdd;
}

tr td.complete
{
	color: #060;
	background-color: #dfd;
}

tr td.submitted
{
	color: #660;
	background-color: #ffd;
}

/* Upload viideo */

.panel_top, .panel_middle, .panel_bottom
{
	clear: both;
	margin: 0 0 20px 0;
}

.form_video_source, .form_video_series
{
	float: left;
	width: 200px;
}

.form_video_source
{
	width: 400px;
}

.form_video_source_title,
.form_video_series_title
{
	margin: 0 5px 0 0;
	padding: 0;
	border: 0;
	font-size: 14px;
	color: #000;
	font-weight: bold;
	float: left;
	display: block;
	line-height: 22px;
}

.form_video_source .wc_button
{
	float: left;
	margin: 0 5px 0 0;
	width: 114px;
	text-align: center;
}

.form_video_source .wc_help_button
{
	float: left;
	margin: 0 5px 0 0;
}

.panel_middle .sectionbox
{
	padding: 0;
}

.panel_middle .rightcol
{
	margin: 0 0 0 20px;
	padding: 0;
	width: 300px;
	float: left;
}

.panel_middle .rightcol .sectionbox
{
	width: 300px;
}

.panel_middle .rightcol .section-header
{
	font-size: 12px;
}

.panel_middle .rightcol .process_steps
{
	margin-top: 10px;
	margin-bottom: 0;
	border-color: #f60;
}

.panel_middle .rightcol .process_steps .section-header
{
	color: #f60;
}

.extra_fields {
      margin-top: 10px;
}

.panel_middle .leftcol
{
	margin: 0;
	padding: 0;
	width: 615px;
	float: left;
}

.panel_middle .leftcol .sectionbox
{
	width: 615px;
}

.fieldwrapper
{
	margin: 10px 10px 20px 10px;
	padding: 0;
	border: 0;
}

.fieldwrapper label
{
	display: block;
	font-weight: bold;
	color: #666;
}

.fieldwrapper input
{
	width: 550px;
	margin: 2px 0;
	padding: 3px;
	border: 0;
	border: 1px solid #ccc;
	background-color: #f4f4f4;
	font: bold 12px arial, helvetica, verdana, sans-serif;
}

.fieldwrapper input:focus
{
	border: 1px solid #06f;
	background-color: #fff;
}

.fieldwrapper textarea
{
	width: 550px;
	margin: 2px 0;
	padding: 3px;
	border: 0;
	border: 1px solid #ccc;
	background-color: #f4f4f4;
	font: normal 12px/16px arial, helvetica, verdana, sans-serif;
}

.fieldwrapper textarea:focus
{
	border: 1px solid #06f;
	background-color: #f4f4f4;
}

.file_upload
{
	width: auto !important;
	margin: 2px 0 !important;
	padding: 3px !important;
	border: 0 !important;
	background-color: inherit !important;
	font: normal 11px arial, helvetica, verdana, sans-serif !important;
}

.fieldwrapper input
{
	width: 550px;
}

.fieldwrapper textarea
{
	width: 550px;
}

.rightcol .fieldwrapper input
{
	width: 200px;
}

.inlinewrapper label
{
	margin-right: 5px;
	float: left;
	width: 60px;
	line-height: 26px;
	text-align: right;
}

.process_steps .fieldwrapper,
.rightcol .fieldwrapper
{
	margin: 10px;
	padding: 0;
	border: 0;
}

.process_steps .fieldwrapper input
{
	width: 25px;
}


/* Autocomplete style override */
div.tagsinput
{
	width: 550px !important;
	height: 46px !important;
	margin: 2px 0 !important;
	padding: 3px !important;
	border: 0;
	border: 1px solid #ccc !important;
	background-color: #f4f4f4 !important;
	font-weight: normal !important;
}

div.tagsinput span.tag
{
	border: 1px solid #999 !important;
	-moz-border-radius: 4px !important;
	-webkit-border-radius: 4px !important;
	display: block;
	float: left;
	padding: 2px 4px !important;
	text-decoration: none;
	background: #e0e0e0 !important;
	color: #000 !important;
	margin-right: 5px;
	margin-bottom: 5px;
	font-family: arial, helvetica, verdana, sans-serif !important;
	font-size: 12px !important;
}

div.tagsinput span.tag a
{
	font-weight: bold;
	color: #999 !important;
	text-decoration: none;
	font-size: 11px;
	text-transform: capitalize;
	border-left: 1px solid #999;
	float: right;
	padding-left: 3px;
	margin-top: 1px;
}

div.tagsinput span.tag a:hover
{
	color: #f00 !important;
}

div.tagsinput input
{
	width: 80px;
	margin: 0px;
	font-size: 11px !important;
	border: 1px solid transparent;
	padding: 2px !important;
	background: transparent;
	color: #000;
	outline: 0px;
	margin-right: 5px;
	margin-bottom: 5px;
	font-weight: normal;
	font-family: arial, helvetica, verdana, sans-serif !important;
}

div.tagsinput div
{
	display: block;
	float: left;
}

.tags_clear
{
	clear: both;
	width: 100%;
	height: 0px;
}

.ui-widget-overlay
{
background: #000 !important;
opacity: .7 !important;filter:Alpha(Opacity=70) !important;
}

.ui-dialog
{
	font-family: arial, helvetica, verdana, sans-serif !important;
}

.ui-dialog-titlebar
{
	border: 1px solid #06f !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#beddf5)) !important;
	background: -moz-linear-gradient(top, #fff, #beddf5) !important;
}

/* VITAL CSS */

body.vital
{
	margin: 0;
	padding: 0;
	border: 0;
	font: normal 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
	background-color: #fff;
}

body.vital a
{
	background-color: transparent;
	color: #069;
	text-decoration: underline;
}

body.vital a:hover
{
	text-decoration: none;
}

body.vital .visual-portal-wrapper
{
	margin: 0;
	padding: 0;
	border: 0;
}

body.vital .portal-top
{
	/* Header and personal tools wrapper, present at all time */
	height: 71px;
	margin: 0 5px;
	padding: 0;
	border: 0;
	background: transparent url('../img/bg-portal-top.jpg') bottom repeat-x;
}

body.vital .portal-top-shadeL
{
	height: 71px;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent url('../img/bg-header-left.jpg') top left no-repeat;
}

body.vital .portal-top-shadeR
{
	height: 71px;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent url('../img/bg-header-right.jpg') top right no-repeat;
}

body.vital .portal-logo
{
	/* Logo h1 properties */
	height: 37px;
	margin: 0 6px 0 4px;
	padding: 0;
	border: 0;
	border-bottom: 1px solid #999;
	background: transparent url('../img/vital.gif') 4px 0 no-repeat;
}

body.vital .portal-logo a
{
	/* Logo h1 properties */
	display: block;
	width: 110px; /* width of logo */
	height: 0px;
	overflow: hidden;
	border: 0;
	margin: 0 0 0 4px;
	padding: 0;
	padding-top: 37px; /* height of logo */
	cursor: pointer;
	text-decoration: none;
}

body.vital .portal-globalnav-search
{
	/* The global section and search area wrapper. */
	height: 32px;
	margin: 0;
	padding: 0;
	border: 0;
	border-bottom: 1px solid #999;
	background: #e0e0e0 url('../img/bg-portaltabs.jpg') bottom repeat-x;
}

body.vital .documentContentMain
{
    margin: 0;
    padding: 2em 1em 2em 1em !important;
    border: 0;
}

body.vital .documentContentMain h1
{
	margin: 0 0 0.25em 0;
	padding: 0;
	border: 0;
	background-color: transparent;
	font-family: Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
	font-weight: bold;
	color: #000;
	font-size: 150%;
}

/* ADMIN */

body.vital #admincontent,
body.mediathread #admincontent
{
	width: 730px;
	background: url('../img/grey-line.gif') top left repeat-y;	
}

body.vital #admincontent-inner,
body.mediathread #admincontent-inner
{
	background: url('../img/grey-line.gif') top right repeat-y;
}

body.vital #admincontent-top,
body.mediathread #admincontent-top
{
	background: url('../img/grey-line.gif') top repeat-x;	
}

body.vital #admincontent-top-inner,
body.mediathread #admincontent-top-inner
{
	background: url('../img/bg-adminform-tl.gif') top left no-repeat;	
}

body.vital #admincontent-top-body,
body.mediathread #admincontent-top-body
{
	background: url('../img/bg-adminform-tr.gif') top right no-repeat;
	height: 10px;
}

body.vital #admincontent-bottom,
body.mediathread #admincontent-bottom
{
	background: url('../img/grey-line.gif') bottom repeat-x;	
}

body.vital #admincontent-bottom-inner,
body.mediathread #admincontent-bottom-inner
{
	background: url('../img/bg-adminform-bl.gif') bottom left no-repeat;	
}

body.vital #admincontent-bottom-body,
body.mediathread #admincontent-bottom-body
{
	background: url('../img/bg-adminform-br.gif') bottom right no-repeat;
	height: 10px;
}

body.vital .adminformtable,
body.mediathread .adminformtable
{
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	border-collapse: collapse !important;
	font-size: 100%;
}

body.vital .adminformtable td,
body.vital .adminformtable th,
body.vital #adminformtable td,
body.vital #adminformtable th,
body.mediathread .adminformtable td,
body.mediathread .adminformtable th,
body.mediathread #adminformtable td,
body.mediathread #adminformtable th
{
	border: 0 !important;
	border-bottom: 1px solid #ccc !important;
	border-collapse: collapse !important;
}

body.vital input.regButton,
body.mediathread input.regButton
{
	margin: 0;
	padding: 1px;
	background-color: #e0e0e0;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	border-right: 2px solid #666;
	border-bottom: 2px solid #666;
	font: normal 11px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
	cursor: pointer;
}

body.vital input.regButton:active,
body.mediathread input.regButton:active
{
	background-color: #ccc;
	border-top: 2px solid #666;
	border-left: 2px solid #666;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

body.mediathread
{
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #fff;
	font: normal 12px/120% 'lucida grande', arial, verdana, sans-serif;
	color: #000;
}

body.mediathread h1
{
	font-family:'lucida grande', arial, verdana, sans-serif !important;
}

body.mediathread #container
{
	margin: 0 5px;
	padding: 0;
	border: 1px solid #999;
	border-collapse: collapse;
	background-color: #fff;
	border-top: none;
}
body.mediathread #header
{
	display: block;
	width: 100%;
	height: 74px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
    background: #444; /* for non-css3 browsers */

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fff,  #ccc); /* for firefox 3.6+ */

}

body.mediathread #header #logo_project
{
	display: block;
	float: left;
	width: 280px;
	height: 74px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
}

body.mediathread #header #logo_project
{
	display: block;
	width: 280px;
	height: 72px;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent url('../img/logo_project_meth.png') left top no-repeat;
  position:absolute;
  z-index:100;
}

/* ---- Standard navigation block elements ---------- */

body.mediathread #mediathread_logo {
	display: block;
  float: right;
  height: 43px;
  	border-bottom: 1px solid #acacac;
  	border-left:  1px solid #acacac;
	background-color: #6f6f6f;
	-moz-border-radius-bottomleft: 10px;
-webkit-border-bottom-left-radius: 10px;

}

body.mediathread #content
{
	display: block;
	margin: 0;
	padding: 0 0 0 1em;
	border: 0;
}


body.mediathread #footer_m
{
	display: block;
		height: 33px;
		width: 100%;
	clear: both;
	margin: 0;
	padding: 3px 0;
	border: 0;
	background-color: #444;
}


body.mediathread #footer_m div
{
	float: right;
	margin: 0 5px 0 0;
		height: 33px;
		width: 200px;
	background: #444 url('../img/logo_ccnmtl_meth.gif') right center no-repeat;
}

