body
{
  background: #efefef;
  color: #2E2E2E;
}

a, a:visited {
    color: #3F729B;
}

a:hover {
    color: #1C2331;
}

a.btn-secondary:visited {
    color: white
}

.bg-dark {
    background-color: black !important;
}

html {
    position: relative;
    height: 100%;
}

body {
    margin-bottom: 60px;
}

body > .container-fluid {
    padding-top: 75px;
}

footer {
    border-top: 1px solid #ccc;
    margin-top: 100px;
}

.footer-moreinfo,
.footer-logos {
    list-style: none;
    margin: 0 -15px 20px -15px;
    padding: 0;
    text-align: center;
}

.footer-moreinfo li,
.footer-logos li {
    display: inline-block;
    padding: 10px;
}

.footer-moreinfo {
    background-color: transparent;
}

.footer-logos {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-logos li {
    padding: 10px;
}

.footer-logos img {
    height: 50px;
}

.operation_status {
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

.enqueued {
    // need an icon_enqueued.gif image here
}

.inprogress {
  background: url('../img/icon_progress.gif') 0 0 no-repeat;
}

.complete {
  background: url('../img/icon_success.gif') 0 0 no-repeat;
}

.submitted {
   background: url('../img/icon_submitted.gif') 0 0 no-repeat;
}

.failed {
  background: url('../img/icon_failed.gif') 0 0 no-repeat;
}

.object-search .tools {
    width: 100%;
}

.object-search .form-group label {
    width: 100px;
}

.object-search .form-group input[type="text"] {
    width: 200px;
}

.object-search .pull-right {
    float: right;
}
.object-search .pull-left {
    float: left;
}

.object-search .btn-paginate {
    margin: 0 5px;
}

.object-search .total-results-count {
    padding-top: 10px;
}

.grid-item {
    width: 300px;
    margin-bottom: 10px;
}

@media (min-width: 576px) {
    .homepage .card-columns {
        column-count: 3;
    }
}
@media (min-width: 768px) {
    .homepage .card-columns {
        column-count: 4;
    }
}

.homepage .asset-count {
    color: #4B515D;
}

.homepage .details-link {
    padding-top: 20px;
}

.dc {font-size: .8em; font-style: italic; color: #666;}

/* Mediathread Upload Page */

body.vital input.regButton,
body.mediathread input.regButton
{
  margin: 0;
  padding: 1px;
  background-color: #e0e0e0;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #666;
  border-bottom: 2px solid #666;
  font: normal 11px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
  cursor: pointer;
}

body.vital input.regButton:active,
body.mediathread input.regButton:active
{
  background-color: #ccc;
  border-top: 2px solid #666;
  border-left: 2px solid #666;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

body.vital #admincontent,
body.mediathread #admincontent
{
  width: 730px;
  background: url('../img/grey-line.gif') top left repeat-y;
}

body.vital #admincontent-inner,
body.mediathread #admincontent-inner
{
  background: url('../img/grey-line.gif') top right repeat-y;
}

body.vital #admincontent-top,
body.mediathread #admincontent-top
{
  background: url('../img/grey-line.gif') top repeat-x;
}

body.vital #admincontent-top-inner,
body.mediathread #admincontent-top-inner
{
  background: url('../img/bg-adminform-tl.gif') top left no-repeat;
}

body.vital #admincontent-top-body,
body.mediathread #admincontent-top-body
{
  background: url('../img/bg-adminform-tr.gif') top right no-repeat;
  height: 10px;
}

body.vital #admincontent-bottom,
body.mediathread #admincontent-bottom
{
  background: url('../img/grey-line.gif') bottom repeat-x;
}

body.vital #admincontent-bottom-inner,
body.mediathread #admincontent-bottom-inner
{
  background: url('../img/bg-adminform-bl.gif') bottom left no-repeat;
}

body.vital #admincontent-bottom-body,
body.mediathread #admincontent-bottom-body
{
  background: url('../img/bg-adminform-br.gif') bottom right no-repeat;
  height: 10px;
}

body.vital .adminformtable,
body.mediathread .adminformtable
{
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  border-collapse: collapse !important;
  font-size: 100%;
  width: 100%;
}

body.mediathread .adminformcontainer {
    margin: 25px 50px;
}

body.vital .adminformtable td,
body.vital .adminformtable th,
body.vital #adminformtable td,
body.vital #adminformtable th,
body.mediathread .adminformtable td,
body.mediathread .adminformtable th,
body.mediathread #adminformtable td,
body.mediathread #adminformtable th
{
  border: 0 !important;
  border-bottom: 1px solid #ccc !important;
  border-collapse: collapse !important;
  border: 0 !important;
}

body.vital input.regButton,
body.mediathread input.regButton
{
  margin: 0;
  padding: 1px;
  background-color: #e0e0e0;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #666;
  border-bottom: 2px solid #666;
  font: normal 11px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
  cursor: pointer;
}

body.vital input.regButton:active,
body.mediathread input.regButton:active
{
  background-color: #ccc;
  border-top: 2px solid #666;
  border-left: 2px solid #666;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

body.mediathread
{
  /*
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #fff;
  font: normal 12px/120% 'lucida grande', arial, verdana, sans-serif;
  color: #000;
  */
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #383838;
    width: 100% auto;
}

body.mediathread h1
{
  font-family: 'Montserrat', sans-serif;
  font-size: 200%;
  font-weight: normal;
}

body.mediathread #container
{
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #fff;
  border-top: none;
}

body.mediathread #header
{
    display: block;
    overflow: hidden;
    margin: 0;
    padding:0;
    border: 0;
    width: auto;
    height: auto;
}

body.mediathread #standardnav_container {
    display: block;
    float: left;
    margin: 0;
    width: 100%;
    padding: .5rem 1rem;
    background-color: #000;
}

body.mediathread #mediathread_logo {
    float: left;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    font-size: 1.25rem;
    overflow: hidden;
}

body.mediathread #mediathread_logo a img {
    height: 50px;
    width: auto;
}

body.mediathread #content
{
  display: block;
  margin: 0;
  padding: 0 0 0 1em;
  border: 0;
  float: none;
   width: 980px;
}


/* ---- Footer block elements ---------- */
/* Footer */
body.mediathread footer {
    height: 100%;
    min-height: 13rem;
    border: 1px solid #E9ECEF;
    background-color: #f8f9fa!important;
}

body.mediathread footer p {
    margin-bottom: 0;
}

body.mediathread footer ul {
    text-align: center;
}

body.mediathread footer a, body.mediathread footer a:visited {
    color: #212529;
}

body.mediathread footer a:hover {
    color: #212529;
    text-decoration: underline;
}

body.mediathread footer .footer-logo {
    padding-left: 0;
    margin-bottom: 1rem;
    padding-top: 1.5rem !important;
}

body.mediathread footer .footer-logo li {
    display: inline-block;
    margin: 0;
}

body.mediathread footer .footer-logo li+li {
    margin-left: 1rem;
}

body.mediathread footer .footer-logo img {
    height: 45px;
    display: block;
    margin: auto;
}

body.mediathread footer .footer-navigation {
  margin: 30px 0;
  padding: 0;
  color: #212529;
  text-align: center;
  list-style: none;
}

body.mediathread footer .footer-navigation li {
    display: inline-block;
    padding: 0 10px;
}

body.mediathread footer .footer-navigation li a {
    color: #212529;
}

body.mediathread footer .footer-navigation li a:hover {
    color: #212529;
    text-decoration: underline;
}

.uploadifyQueueItem
{
  width: 250px !important;
  margin-left: 125px;
    margin-top: -30px !important;
}

.uploadifyQueueItem.completed {
    margin-left: 0px !important;
    margin-top: 0px !important;
}


td.step.one,
td.step.two,
td.step.three {
    width: 37px;
    vertical-align: top;
    padding: 3px;
}

td.step.one img {
    position: absolute;
    clip:rect(0px, 35px, 42px, 0px);
    margin-top: -16px;
}

td.step.two img {
    position: absolute;
    clip:rect(42px, 35px, 84px, 0px);
    margin-top: -58px;
}

td.step.three img {
    position: absolute;
    clip:rect(84px, 35px, 126px, 0px);
    margin-top: -96px;
}

td.step.three input {
    background-color: #4e4e4e;
    border: #4e4e4e;
    color: white;
    height: 30px;
    width: 120px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    font-size: 12px;
}

td.step h4 {
    padding: 1.2em 0 0.7em 0;
    margin: 0;
    border: 0;
    padding-top: 0;
    font-weight: bold;
    font-size: 12px;
    font-style: normal;
}

.iframe-video-detail {
    width: 100%;
    height: 115%;
    border: 0;
}

th.sortable {
    background-image: url(../img/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

th.sortable.asc {
    background-image: url(../img/asc.gif) !important;
}

th.sortable.desc {
    background-image: url(../img/desc.gif) !important;
}

.surelink-youtube {
    width: 560px;
}

.surelink-panopto {
    width: 480px;
}

.surelink-footer {
    background-color: black;
    width: 100%;
    color: white;
    margin-top: -7px;
}

.surelink-footer a {
    color: white;
    display: block;
    height: 36px;
}

.surelink-footer a:hover,
.surelink-footer a:visited {
    color: white;
}

.surelink-footer #show-embed textarea {
    height: 150px;
}