._*
*~
*#
*.pyc
*.DS_Store
ve
pip-log.txt
local_settings.py
cover/
reports/
.DS_Store
.project
.pydevproject
celerybeat-schedule
client_secrets.json
youtube_oauth.json
node_modules
wheelhouse
gunicorn.sh
.settings
media/CACHE
celerybeat.pid