Django>=5.1,<5.2
httplib2==0.22.0
Markdown==3.8
smartypants==2.0.1
psycopg[binary]==3.2.4
olefile==0.47
billiard==4.2.1

django-picklefield==3.3
pyparsing==3.2.1
six==1.17.0
pytz==2025.2
python-dateutil==2.9.0

vine==5.1.0
amqp==5.3.1
kombu==5.5.1
wcwidth==0.2.5
prompt-toolkit==3.0.32
celery==5.5.1
click>=8.0.3,<9.0
click-didyoumean>=0.0.3
click-repl>=0.2.0
click-plugins>=1.1.1
django-celery-results==2.6.0

asn1crypto==1.5.0
cryptography==44.0.1
ecdsa==0.19.0
cffi==1.17.0
idna==3.10
bcrypt==4.3.0
pynacl==1.5.0
paramiko==3.5.0

sentry-sdk[celery]==2.27.0
chardet==5.2.0
urllib3==2.4.0  # sentry-sdk

requests==2.32.3
statsd==4.0.1
coverage==7.8.0
pep8==1.7.1
pyflakes==3.3.2
mccabe==0.7.0
pycodestyle==2.13.0
configparser==7.2.0
importlib-metadata<8.7 # for flake8
typing_extensions==4.13.1
zipp==3.21.0  # for flake8
flake8==7.2.0
logilab-common==2.1.0
astroid==3.3.8

editdistance==0.8.1

pylint==3.3.4

ldap3==2.9.1
surelink==1.1.1


s3transfer==0.10.4
jmespath==1.0.0

botocore>=1.12.0,<1.36.0
boto3>=1.12.0,<1.36.0

sqlparse==0.5.0
filechunkio==1.8
httpretty==1.1.4
contextlib2==21.6.0
ipaddress==1.0.23
text-unidecode==1.3  # for faker
Faker==37.1.0
factory_boy==3.3.0
rcssmin==1.2.0
rjsmin==1.2.2

python-cas==1.6.0
django-cas-ng==5.0.1

django-staticmedia==0.2.2
requirements/src/django_oembed-0.1.5-py3-none-any.whl
django-taggit==6.1.0
django-statsd-mozilla==0.4.0
django-smoketest==1.2.0
django-waffle==4.2.0
django-debug-toolbar==5.1.0
django-appconf==1.1.0
django-extensions==4.1

django-storages==1.14.4
tornado==6.4.2
gunicorn==23.0.0
django-impersonate==1.9.1
django-stagingcontext==0.1.0
django-ga-context==0.1.0
django-s3sign==0.5.1
django-smtp-ssl==1.0
certifi==2025.1.31  # sentry-sdk

ctlsettings==0.4.3

pbr==6.1.0
PyYAML==6.0.2
stevedore==5.4.0
bandit==1.7.4

defusedxml==0.7.1
lxml==5.4.0
requests-toolbelt==1.0.0
isodate==0.7.2
cached-property==2.0.1

attrs==25.3.0
zeep==4.3.1
pypanopto==0.3.0
django-bootstrap4==25.1

mock==5.2.0

entrypoints==0.4
appdirs==1.4.4
beautifulsoup4==4.13.1
requests_file==2.1.0
platformdirs==4.3.2
asgiref==3.8.1
