Django==1.7.7
# 0.7.1 breaks SSL
httplib2==0.6.0
restclient==0.11.0
poster==0.7.0
angeldust==0.1.3
Markdown==2.6.1
smartypants==1.6.0.3
uuid==1.30
psycopg2==2.5.4
Pillow==2.8.1
anyjson==0.3.3
billiard==3.3.0.20
amqp==1.4.6
amqplib==1.0.2
kombu==3.0.26
django-picklefield==0.3.0
pyparsing==2.0.3
six==1.9.0
pytz==2014.7
python-dateutil==2.4.0
librabbitmq==1.6.1
celery==3.1.18
zencoder==0.2
gdata==2.0.14
pycrypto==2.6.1
ecdsa==0.11
paramiko==1.15.2
raven==5.2.0
requests==2.6.0
statsd==3.0.1
coverage==3.7.1
pep8==1.5.7
pyflakes==0.8.1
mccabe==0.2.1
flake8==2.2.5
logilab-common==0.63.2
logilab-astng==0.24.1
pylint==1.4.1
python-ldap==2.4.18
surelink==1.0.1
boto==2.36.0
ipython==3.0.0
sqlparse==0.1.14
filechunkio==1.5
urllib3==1.7.1
httpretty==0.8.8
simplejson==3.6.5

factory_boy==2.4.1
django-smartif==0.1
djangowind==0.13.2
sorl==3.1
tagging==0.3-pre
template_utils==0.4p2
django-staticmedia==0.2.2
django-celery==3.1.16
django-oembed==0.1.3
django-taggit==0.13.0
django-annoying==0.8.1
django-statsd-mozilla==0.3.14
django-smoketest==0.3.0
django-waffle==0.10.1
django-debug-toolbar==1.2.2
django-jenkins==0.17.0
django-appconf==0.6
django-compressor==1.5
django-extensions==1.4.9
django-markwhat==1.3
tornado==3.1.1
flower==0.8.0
