Django>=5.1,<5.3
httplib2==0.31.0
Markdown==3.10
smartypants==2.0.1
psycopg[binary]==3.3.0
olefile==0.47
billiard==4.2.1

django-picklefield==3.4.0
pyparsing==3.3.1
six==1.17.0
pytz==2025.2
python-dateutil==2.9.0

vine==5.1.0
amqp==5.3.1
kombu==5.6.0
wcwidth==0.5.0
prompt-toolkit==3.0.32
celery==5.6.0
tzlocal==5.3.1  # celery
exceptiongroup==1.3.1  # celery
click>=8.0.3,<9.0
click-didyoumean>=0.0.3
click-repl>=0.2.0
click-plugins>=1.1.1
django-celery-results==2.6.0

asn1crypto==1.5.0
cryptography==46.0.1
ecdsa==0.19.0
cffi==2.0.0
idna==3.11
bcrypt==5.0.0
pynacl==1.6.2
paramiko==4.0.0

sentry-sdk[celery]==2.50.0
chardet==5.2.0
urllib3==2.6.3  # sentry-sdk

requests==2.32.5
statsd==4.0.1
pep8==1.7.1
pyflakes==3.4.0
mccabe==0.7.0
pycodestyle==2.14.0
configparser==7.2.0
importlib-metadata<8.8 # for flake8
typing_extensions==4.15.0
zipp==3.23.0  # for flake8
flake8==7.3.0
logilab-common==2.1.0
astroid==4.0.0

editdistance==0.8.1

pylint==4.0.0

ldap3==2.9.1
surelink==1.1.1


s3transfer==0.10.4
jmespath==1.1.0

# Boto libraries pinned to 1.35.x for panopto error:
#
#   2025-10-29 02:29:09 PM: Error processing upload: :
#   (7f36b653-7efa-4c77-9b62-ce51bd025ca9.xml: Data at the root level is
#   invalid. Line 1, position 1.)
#
botocore>=1.35.0,<1.36.0
boto3>=1.35.0,<1.36.0

sqlparse==0.5.0
filechunkio==1.8
httpretty==1.1.4
contextlib2==21.6.0
ipaddress==1.0.23
text-unidecode==1.3  # for faker
Faker==40.1.0
factory_boy==3.3.0
rcssmin==1.2.0
rjsmin==1.2.2

python-cas==1.7.1
django-cas-ng==5.1.0

django-staticmedia==0.2.2
requirements/src/django_oembed-0.1.5-py3-none-any.whl
django-taggit==6.1.0
django-statsd-mozilla==0.4.0
django-smoketest==1.2.0
django-waffle==5.0.0
django-debug-toolbar==6.2.0
django-appconf==1.2.0
django-extensions==4.1

django-storages==1.14.4
tornado==6.5.1
gunicorn==24.1.1
django-impersonate==1.9.1
django-stagingcontext==0.1.0
django-ga-context==0.1.0
django-s3sign==0.6.0
django-smtp-ssl==1.0
certifi==2026.1.4  # sentry-sdk

ctlsettings==0.4.5

pbr==7.0.0
PyYAML==6.0.2
stevedore==5.6.0
rich==14.3.1  # bandit
bandit==1.9.1

defusedxml==0.7.1
lxml==6.0.2
requests-toolbelt==1.0.0
isodate==0.7.2
cached-property==2.0.1

attrs==25.4.0
zeep==4.3.2
pypanopto==0.3.2
django-bootstrap4==26.1

mock==5.2.0

entrypoints==0.4
appdirs==1.4.4
beautifulsoup4==4.14.2
requests_file==3.0.0
platformdirs==4.5.0
asgiref==3.11.0
