{% extends 'base.html' %}
{% block title %}Add a Collection{% endblock %}
{% block pagetitle %}Add a Collection{% endblock %}
{% block extra_head %}
<script src="{{STATIC_URL}}js/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.autocomplete.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.tagsinput.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.autocomplete.css" />
{% endblock %}

{% block content %}

<form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
<input type="hidden" name="q" value="{{q}}" />
<table>
{{ form.as_table }}
</table>
{% if q %}
    <br />
    <div>
        <strong>Videos:</strong> This collection will be initialized with videos that match "{{q}}".
    </div>
    <br />
{% endif %}
<input type="submit" value="add" />
</form>

<script type="text/javascript">
jQuery(document).ready(function() 
    { 
    jQuery('#id_tags').tagsInput({
      autocomplete_url:'/api/tagautocomplete'}
     );
    jQuery('#id_subject').tagsInput({
      autocomplete_url:'/api/subjectautocomplete',
      defaultText: 'add a subject'
      }
     );

   }
);

</script>

{% endblock %}
