{% extends 'base.html' %}

{% block content %}


<h2>Operations in collection <a href="{{collection.get_absolute_url}}">{{collection.title}}</a></h2>

<div class="pagination">
    <span class="step-links">
        {% if operations.has_previous %}
            <a href="?page={{ operations.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ operations.number }} of {{ operations.paginator.num_pages }}.
        </span>

        {% if operations.has_next %}
            <a href="?page={{ operations.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

<table style="width: 100%" class="tablesorter">
<thead>
<tr>
  <th>action</th>
  <th>owner</th>
  <th>video</th>
  <th>status</th>
  <th>started</th>
  <th>last update</th>
</tr>
</thead>
<tbody>
{% for operation in operations.object_list %}
<tr class="{% cycle 'odd' 'even' %}">
  <td>{{operation.action}}</td>
  <td><a href="/user/{{operation.owner.username}}/">{{operation.owner.first_name}} {{operation.owner.last_name}}</a></td>
  <td><a href="{{operation.video.get_absolute_url}}">{{operation.video.title}}</a></td>
  <td class="{{operation.status}}">{{operation.status}}</td>
  <td>{{operation.created|date:"M d, Y H:i:s"}}</td>
  <td>{{operation.modified|date:"M d, Y H:i:s"}}</td>
</tr>
{% endfor %}
</tbody>
</table>




<div class="pagination">
    <span class="step-links">
        {% if operations.has_previous %}
            <a href="?page={{ operations.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ operations.number }} of {{ operations.paginator.num_pages }}.
        </span>

        {% if operations.has_next %}
            <a href="?page={{ operations.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


{% endblock %}
