{% extends 'base.html' %}
{% load markup %}

{% block content %}

{% if videos %}
<h2>Bulk Operation with the following Videos:</h2>


<form action="." method="post">

{% for video in videos %}
<input type="hidden" name="video_{{video.id}}" value="on" />
{% endfor %}

<table>
{% for video in videos %}
<tr><td><a href="{{video.get_absolute_url}}">{{video.title}}</a></td></tr>
{% endfor %}
</table>

<h3>Submit to PCP</h3>
{% if workflows %}
<p>Submit videos to workflow:<br />
<select name="workflow">
<option value="">select workflow</option>
{% for workflow in workflows %}
<option value="{{workflow.uuid}}">{{workflow.title}}</option>
{% endfor %}
</select>
<br />
<input type="submit" value="Submit Videos to PCP" />
{% else %}
<p>Can't get a list of workflows. PCP Submission not available.</p>
<input disabled="disabled" type="submit" name="submit-to-pcp" value="Submit Videos to PCP" />
{% endif %}

<h3>Surelink</h3>
<p>Get surelink embed codes for all selected videos.</p>
<input type="submit" value="Surelink" name="surelink" />

</form>
{% else %}
<p>No videos selected.</p>
{% endif %}

{% endblock %}
