{% extends 'base.html' %}
{% load static %}

{% block js %}

{{block.super}}
<script type="text/javascript">
var removeTag = function(tagName,tagId) {
   var li = jQuery("#tag-" + tagId);
   li.addClass("ui-state-disabled");
   jQuery.ajax({url: "remove_tag/" + tagName + "/?ajax=1",
   context: li,
   success: function (){this.hide();}
});

};
</script>

{% endblock %}

{% block content %}
<div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <a href="edit/" class="btn btn-secondary">Edit Metadata</a>
  </div>
  <div class="btn-group mr-2" role="group" aria-label="Second group">
    <a href="/upload/?collection={{collection.id}}" class="btn btn-secondary">Add Video</a>
  </div>
  <div class="btn-group mr-2" role="group" aria-label="Third group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Submit All
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" href="mediathread_submit/">to Mediathread</a>
      <a class="dropdown-item" href="{% url 'elastictranscoder-collection-submit' collection.id %}">to Elastic Transcoder</a>
      <a class="dropdown-item" href="{% url 'panopto-collection-submit' collection.id %}">to Panopto</a>
    </div>
  </div>
  <div class="btn-group mr-2" role="group" aria-label="Fourth group">
    <button id="btnGroupDrop2" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Reports
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
      <a class="dropdown-item"
        href="{% url 'collection-panopto-report' collection.id %}">
        Embed Codes
      </a>
    </div>
  </div>
  <div class="btn-group" role="group" aria-label="Fourth group">
    <a href="rss/" class="btn btn-secondary"><img class="mr-2" src="{{STATIC_URL}}img/rss.png"/>RSS</a>
  </div>
</div>

<h2>{{collection.title}}</h2>

<div class="clearfix"></div>
<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h4>Metadata</h4>
        </div>
        <div class="row">
            <div class="col">{{collection.description}}</div>
        </div>
        <hr />
        <div class="row">
            <div class="col"><strong>Creator</strong>: {{collection.creator}}</div>
            <div class="col"><strong>Contributor</strong>: {{collection.contributor}}</div>
        </div>

        <div class="row">
            <div class="col"><strong>Language</strong>: {{collection.language}}</div>
            <div class="col"><strong>Subject</strong>: {{collection.subject}}</div>
        </div>
        <div class="row">
            <div class="col"><strong>License</strong>: {{collection.license}}</div>
            <div class="col"><strong>Tags</strong>:
                {% for tag in collection.tags.all %}
                    <a href="/tag/{{tag}}/">{{tag}}</a> [<a href="remove_tag/{{tag}}/" onclick="removeTag('{{tag}}',{{tag.id}});return false">X</a>],
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="object-search">
    {% if object_list|length < 1 %}
        <h4 class="well mt-4">No videos in this collection</h4>
    {% else %}
    <div class="card mt-3">
    <div class="card-body">
        <div class="card-title">
            <h4>Videos</h4>
        </div>

        <div>
            <div class="total-results-count float-left">
                <h5>{{paginator.count}} videos</h5>
            </div>
            <div class="float-right">
                {% include 'main/pagination.html' %}
            </div>
        </div>
        <div class="visualclear"></div>
        <br />

        <div class="table-responsive">
            <table class="table table-striped table-videos">
                <tr>
                    <th>Poster</th>
                    <th data-sort-by="ftitle" class="sortable ftitle">
                        Title
                    </th>
                    <th>Extension</th>
                    <th data-sort-by="flocation" class="sortable flocation">
                        CUIT Location
                    </th>
                    <th>Tags</th>
                    <th data-sort-by="added" class="sortable added">Added</th>
                    <th data-sort-by="complete" class="sortable">Modified</th>
                    <th data-sort-by="views" class="sortable views">
                        Views
                    </th>
                </tr>
                {% for video in object_list %}
                    {% with file=video.file_set.first %}
                    <tr>
                      <td>
                        <a href="{{video.get_absolute_url}}">
                            {% with video.poster as poster %}
                            {% if poster.dummy %}
                                <img src="{% static 'img/vidthumb_480x360.jpg' %}"
                                     style="width: 80px; height: auto" />
                            {% else %}
                                <img src="{{poster.image.src}}" style="width: 80px; height: auto" />
                            {% endif %}
                            {% endwith %}</a>
                    </td>
                    <td style="width: 25%"><a href="{{video.get_absolute_url}}">{{video.title}}</a></td>
                    <td>
                        {{video.cuit_file_extension}}
                    </td>
                    <td>
                        {% with cuit_file=video.cuit_file %}
                        <div style="word-wrap: break-word; width: 275px">
                        {% if cuit_file %}
                            <a href="{{cuit_file.get_absolute_url}}">{{cuit_file.filename}}</a>
                        {% endif %}
                        </div>
                        {% endwith %}
                    </td>
                    <td>
                    {% if video.tags.count %}
                        {% for tag in video.tags.all %}
                            <a href="/tag/{{tag}}/">{{tag}}</a>{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    {% endif %}
                    </td>
                    <td><i>{{video.created|date:"M d, Y H:i:s"}}</i></td>
                    <td><i>{{video.modified|date:"M d, Y H:i:s"}}</i></td>
                    <td>{{video.streamlogs.count}}</td>
                    </tr>
                    {% endwith %}
                {% endfor %}
            </table>
        </div>
        <div class="row tools">
            <div class="col-md-12">
                {% include 'main/pagination.html' %}
            </div>
        </div>
    </div></div>
    {% endif %}
</div>

{% endblock %}
