{% extends 'base.html' %}
{% block extra_head %}
<script src="{{STATIC_URL}}js/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.autocomplete.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.tagsinput.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.autocomplete.css" />
{% endblock %}

{% block content %}

<h2>Edit Collection {{collection.title}}</h2>
<form action="." method="post">{% csrf_token %}
<table>
{{form.as_table}}
</table>
<input type="submit" value="save"/>
</form>

<p><a href="{{collection.get_absolute_url}}delete/">delete this collection</a></p>

<script type="text/javascript">
jQuery(document).ready(function() 
    { 
    jQuery('#id_tags').tagsInput({
      autocomplete_url:'/api/tagautocomplete'}
     );
    jQuery('#id_subject').tagsInput({
      autocomplete_url:'/api/subjectautocomplete',
      defaultText: 'add a subject'
      }
     );

   }
);

</script>

{% endblock %}
