{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block js %}
  {% include 'main/jquery.html' %}

    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
{% endblock %}

{% block content %}
<div class="homepage">
    <div class="grid"  data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 300, "gutter": 10}'>
        {% for collection in collections %}
            <div class="card grid-item">
                <div class="card-body pb-2">
                    <h4 class="card-title">
                        <a href="{{collection.get_absolute_url}}">{{collection.title}}</a>
                    </h4>
                    <p class="small">{{collection.description}}</p>
                    <div>
                        <div class="float-left asset-count">
                            <h1 class="d-inline p-0">{{collection.video_set.count}}</h1> assets
                        </div>
                        <div class="float-right details-link">
                            <a href="{{collection.get_absolute_url}}" class="card-link">Details</a>
                        </div>
                     </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
