{% extends 'base.html' %}

{% block content %}

<h1>Operation {{operation.uuid}}</h1>
<table>
<tr><th>video</th><td><a href="{{operation.video.collection.get_absolute_url}}">{{operation.video.collection.title}}</a>
<a href="{{operation.video.get_absolute_url}}">{{operation.video.title}}</a></td>
</tr>

<tr><th>action</th>
<td>{{operation.action}}</td></tr>

<tr>
<th>owner</th>
<td><a href="/user/{{operation.owner.username}}/">{{operation.owner.username}}</a></td>
</tr>

<tr><th>modified</th>
<td>{{operation.modified}}</td></tr>


<tr>
<th>status</th>
<td>{{operation.status}}</td>
</tr>

<tr>
<th>params</th>
<td>{{operation.params}}</td>
</tr>

{% if operation.operationfile_set.count %}
<tr><th>file[s]</th>
<td>
<ul>
{% for of in operation.operationfile_set.all %}
<li><a href="{{of.file.get_absolute_url}}">{{of.file.label}}</a></li>
{% endfor %}
</ul>

</td>

{% endif %}

{% if operation.operationlog_set.count %}
<tr><th>log[s]</th>
<td>
<ul>


{% for log in operation.operationlog_set.all %}
<li><b>{{log.created|date:"Y-m-d H:i:s"}}</b> {{log.info}}

</li>
{% endfor %}

</td>

{% endif %}


</table>

{% endblock %}
