{% extends 'base.html' %}
{% load markup %}
{% block title %}Slow Operations{% endblock %}
{% block pagetitle %}Slow Operations{% endblock %}

{% block content %}

{% if operations %}
<table id="operations">
  <thead>
    <tr>
      <th></th>
      <th>operation</th>
      <th>video</th>
      <th>collection</th>
      <th>date</th>
      <th>user</th>
			<th>actions</th>
    </tr>
  </thead>

  <tbody id="bb-operations">
		{% for operation in operations %}
		<tr>
		<td><div class="operation_status {{operation.status}}"></div></td>
		<td>{{operation.action}}</td>
    <td><a href="{{operation.video.get_absolute_url}}">{{operation.video.title}}</a></td>
		<td><a href="{{operation.video.collection.get_absolute_url}}">{{operation.video.collection.title}}</a></td>
		<td class="modified">{{operation.modified}}</td>
		<td>{{operation.owner}}</td>
		<td>
                  <form action="/operation/{{operation.id}}/delete/" method="post">
                    {% csrf_token %}
                    <input type="submit" value="CLEAR"/>
                  </form>
		  <form action="/operation/{{operation.id}}/rerun/" method="post">
                    {% csrf_token %}
                    <input type="submit" value="RERUN"/>
                  </form>
                </td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<p>No slow operations at the moment.</p>
{% endif %}

{% endblock %}
