{% extends 'base.html' %}

{% block title %}Stats{% endblock %}

{% block content %}
{% with graphite_base="https://graphite.ctl.columbia.edu/render/" width=900 height=200 metric_base="stats.app." %}
<div id="tabs">

<ul>
  <li><a href="#day">Last 24 Hours</a></li> 
  <li><a href="#week">Week</a></li>
  <li><a href="#month">Month</a></li>
  <li><a href="#year">Year</a></li>
</ul>

<div id="day">

{% with trange="-24hours" %}
<h2>Operations</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}gauges.wardenclyffe.operations.enqueued&target={{ metric_base }}gauges.wardenclyffe.operations.inprogress&target={{ metric_base }}gauges.wardenclyffe.operations.submitted&graphOnly=false&hideGrid=true&from={{ trange }}">
<h2>Traffic</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}counters.wardenclyffe.response.200&graphOnly=false&hideGrid=true&hideLegend=true">
<h2>Response Times (max/mean/min)</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976726.925&target=keepLastValue({{ metric_base }}timers.wardenclyffe.view.GET.lower)&target=keepLastValue({{ metric_base }}timers.wardenclyffe.view.GET.mean)&target=keepLastValue({{ metric_base }}timers.wardenclyffe.view.GET.upper)&hideGrid=true&hideLegend=true&from={{ trange }}"/>
<h2>Errors</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}counters.wardenclyffe.response.404&target={{ metric_base }}counters.wardenclyffe.response.500&graphOnly=false&hideGrid=true">
<h2>Main Events</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}counters.wardenclyffe.extract_metadata&target={{ metric_base }}counters.wardenclyffe.main.done&target={{ metric_base }}counters.wardenclyffe.main.received&target={{ metric_base }}counters.wardenclyffe.make_images&target={{ metric_base }}counters.wardenclyffe.save_file_to_tahoe&hideLegend=false&hideGrid=true&from={{ trange }}">
<h2>Mediathread Events</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}counters.wardenclyffe.mediathread.tasks.submit_to_mediathread&target={{ metric_base }}counters.wardenclyffe.mediathread.user_created&target={{ metric_base }}counters.wardenclyffe.main.upload.mediathread&hideLegend=false&hideGrid=true&from={{ trange }}">
<h2>Failures</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}counters.wardenclyffe.main.process_task.failure&target={{ metric_base }}counters.wardenclyffe.mediathread.auth_failure&target={{ metric_base }}counters.wardenclyffe.mediathread.mediathread.failure&graphOnly=false&hideGrid=true&from={{ trange }}">
<h2>Minutes of Video</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}gauges.wardenclyffe.minutes_video&graphOnly=false&hideGrid=true&yMin=0&from={{ trange }}">
<h2>S3 Usage</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}gauges.wardenclyffe.s3.total&graphOnly=false&hideGrid=true&yMin=0&from={{ trange }}">
<h2>CUNIX Media Directory Disk Available</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target=ccnmtl.server.cunix.media.df&graphOnly=false&hideGrid=true&yMin=0&from={{ trange }}">
{% endwith %}
</div>


<div id="week">
{% with trange="-7days" %}
<h2>Operations</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}gauges.wardenclyffe.operations.enqueued&target={{ metric_base }}gauges.wardenclyffe.operations.inprogress&target={{ metric_base }}gauges.wardenclyffe.operations.submitted&graphOnly=false&hideGrid=true&from={{ trange }}">
<h2>Traffic</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}counters.wardenclyffe.response.200&graphOnly=false&hideGrid=true&hideLegend=true&from={{ trange }}">
<h2>Response Times (max/mean/min)</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976726.925&target=keepLastValue({{ metric_base }}timers.wardenclyffe.view.GET.lower)&target=keepLastValue({{ metric_base }}timers.wardenclyffe.view.GET.mean)&target=keepLastValue({{ metric_base }}timers.wardenclyffe.view.GET.upper)&hideGrid=true&hideLegend=true&from={{ trange }}"/>
<h2>Errors</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}counters.wardenclyffe.response.404&target={{ metric_base }}counters.wardenclyffe.response.500&graphOnly=false&hideGrid=true&from={{ trange }}">
<h2>Main Events</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}counters.wardenclyffe.extract_metadata&target={{ metric_base }}counters.wardenclyffe.main.done&target={{ metric_base }}counters.wardenclyffe.main.received&target={{ metric_base }}counters.wardenclyffe.make_images&target={{ metric_base }}counters.wardenclyffe.save_file_to_tahoe&hideLegend=false&hideGrid=true&from={{ trange }}">
<h2>Mediathread Events</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}counters.wardenclyffe.mediathread.tasks.submit_to_mediathread&target={{ metric_base }}counters.wardenclyffe.mediathread.user_created&target={{ metric_base }}counters.wardenclyffe.main.upload.mediathread&hideLegend=false&hideGrid=true&from={{ trange }}">
<h2>Failures</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}counters.wardenclyffe.main.process_task.failure&target={{ metric_base }}counters.wardenclyffe.mediathread.auth_failure&target={{ metric_base }}counters.wardenclyffe.mediathread.mediathread.failure&graphOnly=false&hideGrid=true&from={{ trange }}">
<h2>Minutes of Video</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}gauges.wardenclyffe.minutes_video&graphOnly=false&hideGrid=true&yMin=0&from={{ trange }}">
<h2>S3 Usage</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}gauges.wardenclyffe.s3.total&graphOnly=false&hideGrid=true&yMin=0&from={{ trange }}">
<h2>CUNIX Media Directory Disk Available</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target=ccnmtl.server.cunix.media.df&graphOnly=false&hideGrid=true&yMin=0&from={{ trange }}">
{% endwith %}
</div>

<div id="month">
{% with trange="-1months" %}
<h2>Operations</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}gauges.wardenclyffe.operations.enqueued&target={{ metric_base }}gauges.wardenclyffe.operations.inprogress&target={{ metric_base }}gauges.wardenclyffe.operations.submitted&graphOnly=false&hideGrid=true&from={{ trange }}">
<h2>Traffic</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}counters.wardenclyffe.response.200&graphOnly=false&hideGrid=true&hideLegend=true&from={{ trange }}">
<h2>Response Times (max/mean/min)</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976726.925&target=keepLastValue({{ metric_base }}timers.wardenclyffe.view.GET.lower)&target=keepLastValue({{ metric_base }}timers.wardenclyffe.view.GET.mean)&target=keepLastValue({{ metric_base }}timers.wardenclyffe.view.GET.upper)&hideGrid=true&hideLegend=true&from={{ trange }}"/>
<h2>Errors</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}counters.wardenclyffe.response.404&target={{ metric_base }}counters.wardenclyffe.response.500&graphOnly=false&hideGrid=true&from={{ trange }}">
<h2>Main Events</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}counters.wardenclyffe.extract_metadata&target={{ metric_base }}counters.wardenclyffe.main.done&target={{ metric_base }}counters.wardenclyffe.main.receivedt&target={{ metric_base }}counters.wardenclyffe.make_images&target={{ metric_base }}counters.wardenclyffe.save_file_to_tahoe&hideLegend=false&hideGrid=true&from={{ trange }}">
<h2>Mediathread Events</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}counters.wardenclyffe.mediathread.tasks.submit_to_mediathread&target={{ metric_base }}counters.wardenclyffe.mediathread.user_created&target={{ metric_base }}counters.wardenclyffe.main.upload.mediathread&hideLegend=false&hideGrid=true&from={{ trange }}">
<h2>Failures</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}counters.wardenclyffe.main.process_task.failure&target={{ metric_base }}counters.wardenclyffe.mediathread.auth_failure&target={{ metric_base }}counters.wardenclyffe.mediathread.mediathread.failure&graphOnly=false&hideGrid=true&from={{ trange }}">
<h2>Minutes of Video</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}gauges.wardenclyffe.minutes_video&graphOnly=false&hideGrid=true&yMin=0&from={{ trange }}">
<h2>S3 Usage</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}gauges.wardenclyffe.s3.total&graphOnly=false&hideGrid=true&yMin=0&from={{ trange }}">
<h2>CUNIX Media Directory Disk Available</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target=ccnmtl.server.cunix.media.df&graphOnly=false&hideGrid=true&yMin=0&from={{ trange }}">
{% endwith %}
</div>


<div id="year">
{% with trange="-1years" %}
<h2>Operations</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}gauges.wardenclyffe.operations.enqueued&target={{ metric_base }}gauges.wardenclyffe.operations.inprogress&target={{ metric_base }}gauges.wardenclyffe.operations.submitted&graphOnly=false&hideGrid=true&from={{ trange }}">
<h2>Traffic</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}counters.wardenclyffe.response.200&graphOnly=false&hideGrid=true&hideLegend=true&from={{ trange }}">
<h2>Response Times (max/mean/min)</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976726.925&target=keepLastValue({{ metric_base }}timers.wardenclyffe.view.GET.lower)&target=keepLastValue({{ metric_base }}timers.wardenclyffe.view.GET.mean)&target=keepLastValue({{ metric_base }}timers.wardenclyffe.view.GET.upper)&hideGrid=true&hideLegend=true&from={{ trange }}"/>
<h2>Errors</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}counters.wardenclyffe.response.404&target={{ metric_base }}counters.wardenclyffe.response.500&graphOnly=false&hideGrid=true&from={{ trange }}">
<h2>Main Events</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}counters.wardenclyffe.extract_metadata&target={{ metric_base }}counters.wardenclyffe.main.done&target={{ metric_base }}counters.wardenclyffe.main.received&target={{ metric_base }}counters.wardenclyffe.make_images&target={{ metric_base }}counters.wardenclyffe.save_file_to_tahoe&hideLegend=false&hideGrid=true&from={{ trange }}">
<h2>Mediathread Events</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}counters.wardenclyffe.mediathread.tasks.submit_to_mediathread&target={{ metric_base }}counters.wardenclyffe.mediathread.user_created&target={{ metric_base }}counters.wardenclyffe.main.upload.mediathread&hideLegend=false&hideGrid=true&from={{ trange }}">
<h2>Failures</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}counters.wardenclyffe.main.process_task.failure&target={{ metric_base }}counters.wardenclyffe.mediathread.auth_failure&target={{ metric_base }}counters.wardenclyffe.mediathread.mediathread.failure&graphOnly=false&hideGrid=true&from={{ trange }}">
<h2>Minutes of Video</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}gauges.wardenclyffe.minutes_video&graphOnly=false&hideGrid=true&yMin=0&from={{ trange }}">
<h2>S3 Usage</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target={{ metric_base }}gauges.wardenclyffe.s3.total&graphOnly=false&hideGrid=true&yMin=0&from={{ trange }}">
<h2>CUNIX Media Directory Disk Available</h2>
<img width="{{ width }}" height="{{ height }}" src="{{ graphite_base }}?width={{ width }}&height={{ height }}&_salt=1337976132.743&target=ccnmtl.server.cunix.media.df&graphOnly=false&hideGrid=true&yMin=0&from={{ trange }}">
{% endwith %}
</div>
</div>

{% endwith %}
{% endblock %}
