<!DOCTYPE html>
<html lang="en">
<head>
    {% if video %}
        <title>{{video.title}}</title>
    {% else %}
        <title>Surelink Retirement</title>
    {% endif %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}js/lib/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="row">
    <div class="col-md-12 text-center no-gutters">
        <div style="background-color: #073654; height: 20px; width: 100%; margin-bottom: 20px;"></div>
        <a href="https://ctl.columbia.edu/"> <img
            src="{{STATIC_URL}}IMG/ctllogo.png" alt="Columbia CTL">
        </a>
        <hr />
        <h5>We're Sorry</h5>
        <p class="px-5">
        Columbia University has migrated its media streaming services to Panopto.
        The Surelink media streaming service is no longer available.<br />
        If you have any questions, please contact us at <a href="mailto:ColumbiaCTL@columbia.edu">ColumbiaCTL@columbia.edu</a>
        or call our support number <a href="tel:+12128541692">1-212-854-1692</a>.
        </p>
    </div>
</div>
</body>
</html>
