<!DOCTYPE html>
<html lang="en">
<head>
    <title>Surelink Proxy</title>

    {% include 'main/jquery.html' %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}js/lib/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{STATIC_URL}}css/wardenclyffe.css?site=wardenclyffe" media="screen" />
</head>
<body>
{% if youtube %}
    <div class="surelink-youtube">
        <iframe width="560" height="315" src="{{youtube}}" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <div class="surelink-footer">
            <div>
                <a class="btn btn-link small" data-toggle="collapse" href="#showEmbed" aria-expanded="false" aria-controls="show-embed">
                    <code>&lt;/&gt; embed</code>
                </a>
            </div>
            <div class="collapse" id="show-embed">
                <textarea class="w-100"><iframe width="560" height="315" src="{{youtube}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></textarea>
            </div>
        </div>
    </div>
{% else %}{% if panopto %}
    <div class="surelink-panopto">
        <iframe width="480" height="360" 
            src="https://columbia.hosted.panopto.com/Panopto/Pages/Embed.aspx?id={{panopto}}&v=1"
            width="480" height="360" style="padding: 0px;
            border: 1px solid #464646;" frameborder="0" allowfullscreen
            allow="autoplay"></iframe>
        <div class="surelink-footer">
            <div>
                <a class="btn btn-link text-right" data-toggle="collapse" href="#show-embed" aria-expanded="false" aria-controls="show-embed">
                    &lt;/&gt; embed
                </a>
            </div>
            <div class="collapse p-2" id="show-embed">
                <textarea class="w-100"><iframe width="480" height="360" src="https://columbia.hosted.panopto.com/Panopto/Pages/Embed.aspx?id={{panopto}}&v=1" width="480" height="360" style="padding: 0px; border: 1px solid #464646;" frameborder="0" allowfullscreen allow="autoplay"></iframe></textarea>
            </div>
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="col-md-12 text-center no-gutters">
            <div style="background-color: #073654; height: 20px; width: 100%; margin-bottom: 20px;"></div>
            <a href="https://ctl.columbia.edu/">
                <img src="{{STATIC_URL}}img/ctllogo.png" alt="Columbia CTL">
            </a>
            <hr />
            <h5>We're Sorry</h5>
            <p class="px-5">
            The media streaming service that plays this video is no longer available.<br />
            If you would like your media converted, please contact us at <a href="mailto:ColumbiaCTL@columbia.edu">ColumbiaCTL@columbia.edu</a>
            or call our support number <a href="tel:+12128541692">1-212-854-1692</a>.
            </p>
        </div>
    </div>
{% endif %}{% endif %}

<script src="{{STATIC_URL}}js/lib/popper/popper.min.js"></script>
<script src="{{STATIC_URL}}js/lib/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
