{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Add Video from Desktop{% endblock %}
{% block pagetitle %}Add Video from Desktop{% endblock %}

{% block extra_head %}
    <script src="{{STATIC_URL}}js/jquery.tagsinput.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.autocomplete.min.js"></script>
    <script src="{{STATIC_URL}}s3sign/js/s3upload.js"></script>

    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.autocomplete.css" />
{% endblock %}

{% block content %}

    <form action="/upload/post/" method="post" enctype="multipart/form-data">
        {% if form.collection %}
            {% bootstrap_field form.collection %}
        {% endif %}

        {% bootstrap_field form.title %}
        {% bootstrap_field form.creator %}
        {% bootstrap_field form.description %}
        {% bootstrap_field form.license %}
        {% bootstrap_field form.language %}

        <div class="row">
            <div class="col-md-auto">
                {% bootstrap_field form.subject %}
            </div>
            <div class="col-md-auto">
                {% bootstrap_field form.tags %}
            </div>
        </div>

        <div class="form-group">
            <div><label>Video File</label></div>
            <input type="file" id="file" onchange="s3_upload();" accept=".mov,.avi,.mp4,.flv,.mpg,.wmv,.m4v,.mp3" class="btn btn-default" />
            <input type="hidden" name="s3_url" id="uploaded-url" />
            <div id="status" class="small">Select a file to upload</div>
        </div>

        <div class="form-group">
            <p>Process steps</p>

            <div class="form-check">

                <label class="form-check-label">
                    <input type="checkbox" name="submit_to_mediathread" disabled="disabled" />
                    Submit file to Mediathread
                </label>
            </div>

            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" name="submit_to_panopto" />
                    Submit file to Panopto
                </label>
                <div class="ml-4 mt-2">
                <label>Panopto Upload Folder UUID</label>
                <input type="text" name="folder" class="form-control w-50" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" id="submit" value="upload" class="btn btn-primary" disabled="disabled" />
        </div>
    </form>

<script>
function s3_upload() {
    var s3upload = new S3Upload({
        file_dom_selector: '#file',
        s3_sign_put_url: '/sign_s3/',
        s3_object_name: $('#file')[0].value,
        onProgress: function(percent, message) {
            $('#status').html('Upload progress: ' + percent + '%<br />' + message);
        },
        onFinishS3Put: function(url) {
            $('#uploaded-url').val(url);
            $("#submit").removeAttr("disabled");
        },
        onError: function(status) {
            $('#status').text('Upload error: ' + status);
        }
    });
}

jQuery(document).ready(function()
    {
        jQuery('#id_tags').tagsInput({
            autocomplete_url:'/api/tagautocomplete',
            defaultText: 'Add a tag...'
        }
        );
        jQuery('#id_subject').tagsInput({
            autocomplete_url:'/api/subjectautocomplete',
            defaultText: 'Add a subject...'
        }
        );
    }
);

</script>

<script src="{{STATIC_URL}}js/help_windows.js" type="text/javascript" language="javascript"></script>

{% endblock %}
