{% extends 'base.html' %}

{% block content %}

{% if uuid %}
<h1>search results for UUID: "{{uuid}}"</h1>
{% else %}
<h1>UUID Search</h1>
{% endif %}
<form action="." method="get">
<input type="text" name="uuid" value="{{uuid}}" />
<input type="submit" value="search" />
</form>

{% if results.collection %}<p>Collection: <a href="{{results.collection.get_absolute_url}}">{{results.collection.title}}</a></p>{% endif %}
{% if results.video %}<p>Video: <a href="{{results.video.get_absolute_url}}">{{results.video.title}}</a></p>{% endif %}
{% if results.operation %}<p>Operation: <a href="{{results.operation.get_absolute_url}}">{{results.operation.action}}</a></p>{% endif %}
{% endblock %}
