{% extends 'base.html' %}
{% load static %}
{% load waffle_tags %}
{% load markup %}
{% load oembed_tags %}

{% block js %}
{{block.super}}
<script type="text/javascript">
var removeTag = function(tagName,tagId) {
   var li = jQuery("#tag-" + tagId);
   li.addClass("ui-state-disabled");
   jQuery.ajax({url: "remove_tag/" + tagName + "/?ajax=1",
   context: li,
   success: function (){this.hide();}
});
};
</script>

{% endblock %}

{% block extra_head %}
<link rel="alternate" type="application/json+oembed" href="{{video.get_oembed_url}}" title="{{video.title}}" />
{% endblock %}

{% block content %}
<p>In Collection: <a href="{{video.collection.get_absolute_url}}">{{video.collection.title}}</a></p>
<h1>{{video.title}}</h1>


<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item"><a data-toggle="tab" class="nav-link active" href="#basics">Basics</a></li> 
  <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#frames">Frames</a></li>
  <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#operations">Operations</a></li>
  <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#files">Files</a></li>
  <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#actions">Actions</a></li>
</ul>

<div class="tab-content p-3">

<div class="tab-pane fade show active" role="tabpanel" id="basics">
<div class="row">
    <div class="col-md-5">
    {% with video.poster as poster %}
    {% if video.has_panopto_source %}
        <iframe src="https://columbia.hosted.panopto.com/Panopto/Pages/Embed.aspx?id={{video.panopto_file.filename}}&v=1" width="480" height="360" style="padding: 0px; border: 1px solid #464646;" frameborder="0" allowfullscreen allow="autoplay"></iframe>
    {% else %}{% if video.has_youtube_source %}
        {% oembed %}{{video.youtube_file.url}}{% endoembed %}
    {% else %}{% if video.h264_secure_stream_file %}
        {% with file=video.h264_secure_stream_file %}
            <h3>Secure Stream</h3>
            <video src="{{file.h264_secure_internal_url}}" controls="" width="480" height="384"></video>
        {% endwith %}
    {% else %}{% if video.h264_public_stream_file %}
        <h3>Public Stream</h3>
        <video src="{{video.h264_public_stream_url}}" controls="" width="480" height="384"></video>
    {% else %}{% if video.cuit_url %}
        <h3>Public CUIT Stream</h3>
        <video src="{{video.cuit_url}}" controls="" width="480" height="384"></video>
    {% else %}{% if poster.dummy %}
        <img src="{% static 'img/vidthumb_480x360.jpg' %}" />
    {% else %}
        <img src="{{poster.image.src}}" width="480" />
    {% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
    {% endwith %}
    </div>
    <div class="col-md-7">

    <dl>
        {% with streamlogs=video.streamlogs %}
            {% if video.streamlogs %}
            <dt class="col-sm-3">streamlogs</dt><dd class="col-sm-9"><a href="{% url 'streamlogs-detail' %}?f=/{{video.cuit_file.file_base}}">Stream Logs (streamlogs.count)</a></td></tr>
            {% endif %}
        {% endwith %}

        <dt class="col-sm-3">creator</dt><dd class="col-sm-9"><a href="/video/?creator={{video.creator}}">{{video.creator}}</a></td></tr>
        <dt class="col-sm-3">description</dt><dd class="col-sm-9"><a href="/video/?description={{video.description}}">{{video.description}}</a></td></tr>
        <dt class="col-sm-3">language</dt><dd class="col-sm-9"><a href="/video/?language={{video.language}}">{{video.language}}</a></td></tr>
        <dt class="col-sm-3">subject</dt><dd class="col-sm-9"><a href="/video/?subject={{video.subject}}">{{video.subject}}</a></td></tr>
        <dt class="col-sm-3">license</dt><dd class="col-sm-9"><a href="/video/?license={{video.license}}">{{video.license}}</a></td></tr>
        <dt class="col-sm-3">created</dt><dd class="col-sm-9">{{video.created|date:"r"}}</td></tr>
        <dt class="col-sm-3">last modified</dt><dd class="col-sm-9">{{video.modified|date:"r"}}</td></tr>
        {% if video.tags.count %}
            <dt class="col-sm-3">tags</dt>
            <dd class="col-sm-9">
              {% for tag in video.tags.all %}
                <a href="/tag/{{tag}}/">{{tag}}</a>[<a href="remove_tag/{{tag}}/" onclick="removeTag('{{tag}}',{{tag.id}});return false">X</a>]{% if not forloop.last %},{% endif %}
              {% endfor %}
            </dd>
        {% endif %}
     </dl>

     <p><a href="edit/">edit video metadata</a></p>
    </div>
</div>
</div>

<div  class="tab-pane fade" role="tabpanel" id="frames">
{% if video.image_set.count %}
{% for image in video.upto_hundred_images %}
<div style="float: left; width: 200px"><img src="{{image.src}}" width="200" /><br />
<a href="select_poster/{{image.id}}/">make poster</a></div>
{% endfor %}
<br style="clear:both" />
{% endif %}
</div>

<div  class="tab-pane fade" role="tabpanel" id="files">
{% if video.file_set.count %}
<table>
<tr>
<th>label</th>
<th>type</th>
<th></th>
</tr>
{% for file in video.file_set.all %}
<tr class="{% cycle 'even' 'odd' %}">
<th><a href="{{file.get_absolute_url}}">{{file.label}}</a></th>
<td>{{file.location_type}}</td>
<td>[<a href="{{file.get_absolute_url}}delete/">X</a>]</td>
</tr>
{% endfor %}
</table>
{% endif %}
</div>

<div class="tab-pane fade" role="tabpanel" id="operations">
{% if video.operation_set.count %}

<table>
{% for operation in video.operation_set.all %}
<tr>
    <td class="{{operation.status}} pl-3"></td>
    <td><b><a href="{{operation.get_absolute_url}}">{{operation.action}}</a></b></td>
    <td>
        <a href="/user/{{operation.owner.username}}/">
            {% if operation.owner.first_name %}
            {{operation.owner.first_name}} {{operation.owner.last_name}}
            {% else %}
            {{operation.owner.username}}
            {% endif %}
        </a>
        <tt>{{operation.uuid}}</tt>
    </td>
    <td>[<a href="/operation/{{operation.id}}/delete/">X</a>]</td>
    <td>
      <form action="/operation/{{operation.id}}/rerun/" method="post">
        <input type="submit" value="RERUN"/>
        {% csrf_token %}
      </form>
    </td>

</tr>

<tr>
    <td></td>
    <td colspan="4">started: <b><tt>{{operation.created|date:"Y-m-d H:i:s"}}</tt></b> 
    last update: <b><tt>{{operation.modified|date:"Y-m-d H:i:s"}}</tt></b></td>
</tr>

{% if operation.params %}
<tr>
    <td></td>
    <td colspan="4">
        <tt style="font-size: 90%">
            <pre>
{{operation.formatted_params}}
            </pre>
        </tt>
    </td>
</tr>
{% endif %}

{% if operation.operationlog_set.count %}
{% for log in operation.operationlog_set.all %}
<tr>
    <td></td>
    <td>
        <b>{{log.created|date:"Y-m-d H:i:s"}}</b>
    </td>
    <td colspan="3">
        {{log.info}}
    </td>
</tr>
{% endfor %}
{% endif %}


{% endfor %}
</table>

{% endif %}
</div>

<div  class="tab-pane fade" role="tabpanel" id="actions">

<p><a href="add_file/">manually add a file/location -&gt;</a></p>
<p><a href="mediathread_submit/">import into mediathread -&gt;</a></p>

{% if video.flv_convertable %}
    <form action="{% url 'video-flv-to-mp4' video.id %}" method="post" class="mt-1">
        {% csrf_token %}
        <input type="submit" value="convert flv to mp4" />
    </form>
{% endif %}

{% if not video.has_s3_transcoded %}
<p>
<form action="{% url 'video-mov-to-mp4' video.id %}" method="post" class="mt-1">
    {% csrf_token %}
    <button class="btn btn-link pl-0" type="submit">submit to elastic transcoder -&gt;</button>
</form>
</p>
{% endif %}

<p><a href="{% url 'panopto-video-submit' video.id %}">submit to panopto -&gt;</a></p>

</div>
</div>
{% endblock %}
