{% extends "base.html" %}
{% block title %}Please Log In{% endblock %}

{% block extra_head %}
    <style>
        .cover-container {
            max-width: 42em;
        }
        .cover {
            padding: 0 1.5rem;
        }
        body {
            color: #fff;
            background-color: black;
        }
    </style>
{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block bodyclass %}text-center{% endblock %}"

{% block content %}
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <main role="main" class="inner cover">
        <h1 class="cover-heading"><img src="{{ STATIC_URL}}img/logo_wardenclyffe.png" style="height: 100px"></h1>
        <p class="lead">Wardenclyffe is an open source, web-based video asset and workflow management tool. This tool also has light media management features, including a Dublin Core-based metadata schema (OC Core). Wardenclyffe provides the capability to upload, manage and publish online video to online media platforms.</p>

        {% if form.has_errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        <div class="loginbox">
            <div class="content">
                <form method="get" action="/cas/login" class="well">
                    <input type="hidden" name="next" value="{{next|default:'/'}}" />
                    <input class="btn btn-lg btn-light" type="submit" value="Log in with your UNI" />
                </form>
            </div>
        </div>
      </main>
    </div>
{% endblock %}
