{% extends "base.html" %}
{% block title %}Please Log In{% endblock %}
{% block pagetitle %}Welcome to Wardenclyffe{% endblock %}
{% block content %}
{% if form.has_errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<div class="loginbox">
	<h2>Choose a login option...</h2>
	<div class="content">
	<!-- UNI LOG IN -->
<form method="get" action="{{ cas_base }}cas/login" class="well">
<input type="hidden" name="destination" value="https://{{ request.get_host }}/accounts/caslogin/?next={{ next }}" />

	<p>If you have a Columbia University Network ID (UNI)...</p>

	<input class="regbutton" type="submit" value="Log in" />
	
	</form>
	<p class="smalltxt"><a href="http://cuit.columbia.edu/cuit/manage-my-uni" title="Learn more about UNI" target="_blank">What is a UNI?</a></p>
	<!-- End UNI LOG IN -->
	
	<hr class="seperator" />
	
	<p>If you have a project account...</p>

	<form method="post" action=".">
	<div class="fieldwrapper">
		<label for="id_username">Username:</label>
		{{ form.username }}
	</div><!-- fieldwrapper -->
	<div class="fieldwrapper">
		<label for="id_password">Password:</label>
		{{ form.password }}
	</div><!-- fieldwrapper -->
	
	<input class="regbutton" type="submit" value="Log in" />
	<input type="hidden" name="next" value="{{ next }}" />
	</form>
	<p class="smalltxt"><a href="accounthelp">Need a new account?</a> | <a href="accounthelp">Can't access your account?</a></p>
	</div><!-- content -->
</div><!-- loginbox -->
{% include "flatpages/login_about.html" %}



{% endblock %}
