{% extends 'base.html' %}
{% load markup %}
{% load thumbnail %}
{% block title %}Dashboard{% endblock %}
{% block pagetitle %}Dashboard{% endblock %}
{% block js %}

{{block.super}}

<script type="text/javascript">
$(document).ready(function() 
    { 
        $(".tablesorter").tablesorter({widgets: ['zebra']}); 
    } 
); 
   

</script>

{% endblock %}

{% block jquery %}
<script>
jQuery(function($){
	$('.video_item .video_item_lead').click(function() {
      $(this).toggleClass("video_item_lead_open");
		$(this).next().slideToggle("fast");
	}).next().hide();
});
</script>
{% endblock %}


{% block content %}

<div class="dashboard recent_videos">
	<div class="table-header">
		<div class="table_title">Recent videos and operations</div><!-- class="table_title" -->
		{% if videos %}<div class="see_more"><a href="#">see more</a></div><!--class="see_more"  -->{% endif %}
		<div class="add_new"><a href="/upload/">add new</a></div><!-- class="add_new" -->
	</div><!--  class="table-header -->
	
	{% if videos %}
	<table>
		<tbody>
		{% for video in videos %}
			<tr class="{% cycle 'odd' 'even' %}">
				<td>
				<div class="video_item">
					<h3 class="video_item_lead">
					<span class="video_title">
					{{video.title}}
					</span>
					in Collection
					<span class="collection_title">
					{{video.collection.title}}
					</span>
					created by
					<span class="video_owner">
					{{video.creator}}
					</span>
					</h3>				
					<div class="video_item_details">
						<div class="video_thumbnail">
						<a href="{{video.get_absolute_url}}">{% with video.poster as poster %}
						{% if poster.dummy %}
						<img src="/site_media/img/vidthumb160.jpg" width="160" height="120" />
						{% else %}
						{% thumbnail poster.image "160x120" as thmb %}
						<img src="{{thmb.absolute_url}}" width="160"/>
						{% endif %}
						{% endwith %}</a>
						</div><!-- class="video_thumbnail" -->
						<div class="video_url"><a href="{{video.get_absolute_url}}">Go to video</a></div><!-- class="video_url" -->
						<div class="video_operations">
							{% if video.operation_set.count %}
							{% for operation in video.operation_set.all %}
							<div class="video_operations_item">
								<div class="operation_status {{operation.status}}"></div>
								<div class="operation_action">{{operation.action}}</div><!--  class="operation_action" -->
								<div class="operation_date">{{operation.modified|date:"M d, Y"}} at {{operation.modified|date:"g:i A"}}</div><!-- class="operation_date" -->
								<div class="visualclear"></div><!-- visualclear -->
							</div><!-- class="video_operations_item" -->
							{% endfor %}
							{% endif %}
						</div><!-- class="video_operations" -->
						<div class="visualclear"></div><!-- visualclear -->
					</div><!-- class="video_item_details"> -->
				</div><!--  class="video_item" -->
				</td>
			</tr>
		{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td>&nbsp;</td>
			</tr>
		</tfoot>
	</table>
	{% else %}
	<p style="padding: 10px; font-weight: bold;"><span style="color: #f00;">You have no videos.</span> <a href="/upload/">Add a new</a> video now.</p>
	{% endif %}
</div><!-- class="dashboard recent_videos" -->



<div class="dashboard recent_collection">
	<div class="table-header">
		<div class="table_title">Recent collection</div><!-- class="table_title" -->
		<div class="see_more"><a href="#">see more</a></div><!--class="see_more"  -->
		<div class="add_new"><a href="/add_collection/">add new</a></div><!-- class="add_new" -->
	</div><!--  class="table-header -->
	<table>
		<tbody>
			{% for collection in collection %}
			<tr class="{% cycle 'odd' 'even' %}">
				<td><a href="{{collection.get_absolute_url}}">{{collection.title}}</a></td>
			</tr>
			{% endfor %}
		<tfoot>
			<tr>
				<td>&nbsp;</td>
			</tr>
		</tfoot>
		</tbody>
	</table>
</div><!-- class="dashboard recent_collection" -->

{% endblock %}
