{% extends 'base.html' %}
{% load markup %}
{% block content %}

<h2><a href="/upload/">add video</a></h2>

<table style="width: 100%"> 
{% for video in videos %}
<div class="{% cycle 'odd' 'even' %}">
<tr>
<th colspan="3" align="left">{{video.title}}</th>
</tr>

<tr>
<td>{% ifnotequal video.cap "None" %}
<a href="{{video.tahoe_download_url}}">{{video.filename}}</a>
{% else %}
{{video.filename}}
{% endifnotequal %}
</td>
<td>{{video.uuid}}</td>
</tr>
<tr>

<td colspan="2">uploaded by <b>{{video.owner.first_name}}
  {{video.owner.last_name}}</b> at <i>{{video.created|date:"r"}}</i>, last modified:
<i>{{video.modified|date:"r"}}</i></td>
</tr>

<tr>
<td colspan="2">{{video.description|markdown}}</td>
</tr>
</div>
{% endfor %}
</table>

{% endblock %}
