<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Mediathread Video Upload</title>
	<link rel="stylesheet" href="/site_media/css/main.css" media="screen" />
	<link rel="stylesheet" href="/site_media/css/print.css" media="print" />
	<!--[if IE 6]>
	<link rel="stylesheet" href="/site_media/css/main_ie6_1col.css" media="screen" />
	<![endif]-->
	<link rel="shortcut icon" href="/site_media/img/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/base/jquery-ui.css" type="text/css" media="all" /> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
        type="text/javascript" ></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/jquery-ui.min.js" type="text/javascript"></script>
</head>
<body class="one_column fixed">
<div id="container">
<div id="mediathreadheader">
</div>

<div id="content">
<h1>Mediathread Video Upload</h1>

<p>Welcome, <b>{{username}}</b>. This is
  the form to upload video to Mediathread. [Here we can put more text
  explaining what formats are acceptable, etc]. </p>

<form action="." method="post" enctype="multipart/form-data">

<div id="vitaldropform">
<p><b>Please select your video file to upload:</b><br /> 

<input type="file" name="source_file" /></p>

<input type="submit" value="upload" />
</div>
</form>
</div>
</div>
</body>
