{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}

{% if q %}
<h1>search results for: "{{q}}"</h1>
{% if not results.count %}
<p>no results found</p>
{% endif %}
{% else %}
<h1>search</h1>
{% endif %}
<form action="." method="get">
<input type="text" name="q" value="{{q}}" />
<input type="submit" value="search" />
</form>

{% if results.count %}

{% if results.series %}
<h2>Series</h2>
<table>
{% for series in results.series %}
<tr class="{% cycle 'odd' 'even' %}">
<th><a href="{{series.get_absolute_url}}">{{series.title}}</a></th>
</tr>
{% endfor %}

</table>
{% endif %}

{% if results.videos %}
<h2>Videos</h2>
<table style="width: 100%" id="recent-videos" class="tablesorter"> 
<thead>
  <tr>
    <th colspan="2">video</th>
    <th>series</th>
    <th>uploaded</th>
    <th>modified</th>
  </tr>
</thead>
<tbody>
{% for video in results.videos %}
<tr class="{% cycle 'odd' 'even' %}">
<td>
<a href="{{video.get_absolute_url}}">{% with video.poster as poster %}
{% if poster.dummy %}
<img src="http://ccnmtl.columbia.edu/broadcast/posters/vidthumb_480x360.jpg"
     width="160" height="120" />
{% else %}
{% thumbnail poster.image "160x120" as thmb %}
<img src="{{thmb.absolute_url}}" />
{% endif %}
{% endwith %}</a>
</td>
<td align="left"><a href="{{video.get_absolute_url}}">{{video.title}}</a></td>
<td><a href="{{video.series.get_absolute_url}}">{{video.series.title}}</a></td>
<td><i>{{video.created|date:"M d, Y H:i:s"}}</i></td>
<td><i>{{video.modified|date:"M d, Y H:i:s"}}</i></td>
</tr>
{% endfor %}
</tbody>
</table>

{% endif %}


{% endif %}

{% endblock %}
