{% extends 'base.html' %}
{% load markup %}
{% block content %}

<h1>Series: {{series.title}}</h1>

<table>
<tr><th>creator<br /><span class="dc">dcterms:creator</span></th></th><td>{{series.creator}}</td></tr>
<tr><th>contributor<br /><span class="dc">dcterms:contributor</span></th></th><td>{{series.contributor}}</td></tr>
<tr><th>language<br /><span class="dc">dcterms:language</span></th></th><td>{{series.language}}</td></tr>
<tr><th>description<br /><span class="dc">dcterms:description</span></th></th><td>{{series.description}}</td></tr>
<tr><th>subject<br /><span class="dc">dcterms:subject</span></th></th><td>{{series.subject}}</td></tr>
<tr><th>license<br /><span class="dc">dcterms:license</span></th></th><td>{{series.license}}</td></tr>
<tr><th>tags</th>
<td>
{% for tag in series.tags.all %}<a href="/tag/{{tag}}/">{{tag}}</a> {% endfor %}
</td></tr>
</table>
<p><a href="edit/">edit series metadata</a></p>

<p><a href="/upload/?series={{series.id}}">add a video</a></p>

{% if videos %}
<h2>Recent Videos</h2>
<table style="width: 100%"> 
{% for video in videos %}
<tr class="{% cycle 'odd' 'even' %}">
<th align="left"><a href="{{video.get_absolute_url}}">{{video.title}}</a></th>
<td>uploaded at <i>{{video.created|date:"r"}}</i>, last modified:
<i>{{video.modified|date:"r"}}</i></td>
</tr>
{% endfor %}
</table>
{% endif %}

{% if operations %}
<h2>Recent Operations</h2>

<table style="width: 100%">

<tr>
  <th>action</th>
  <th>owner</th>
  <th>video</th>
  <th>status</th>
  <th>started</th>
  <th>last update</th>
</tr>

{% for operation in operations %}
<tr class="{% cycle 'odd' 'even' %}">
  <td>{{operation.action}}</td>
  <td>{{operation.owner.first_name}} {{operation.owner.last_name}}</td>
  <td><a href="{{operation.video.get_absolute_url}}">{{operation.video.title}}</a></td>
  <td class="{{operation.status}}">{{operation.status}}</td>
  <td>{{operation.created|date:"r"}}</td>
  <td>{{operation.modified|date:"r"}}</td>
</tr>
{% endfor %}

</table>
{% endif %}


{% endblock %}
