{% extends 'base.html' %}

{% block content %}

<h2>Traffic</h2>
<h3>Last 24 hours</h3>
<img width="920" height="200" src="http://nanny.cul.columbia.edu/render/?width=920&height=200&_salt=1337976132.743&target=ccnmtl.app.counters.wardenclyffe.response.200&graphOnly=false&hideGrid=true&hideLegend=true">
<h3>Last week</h3>
<img width="920" height="100" src="http://nanny.cul.columbia.edu/render/?width=920&height=100&_salt=1337976132.743&target=ccnmtl.app.counters.wardenclyffe.response.200&graphOnly=false&hideGrid=true&hideLegend=true&from=-7days">
<h3>Last month</h3>
<img width="920" height="100" src="http://nanny.cul.columbia.edu/render/?width=920&height=100&_salt=1337976132.743&target=ccnmtl.app.counters.wardenclyffe.response.200&graphOnly=false&hideGrid=true&hideLegend=true&from=-1months">
<h3>Last year</h3>
<img width="920" height="100" src="http://nanny.cul.columbia.edu/render/?width=920&height=100&_salt=1337976132.743&target=ccnmtl.app.counters.wardenclyffe.response.200&graphOnly=false&hideGrid=true&hideLegend=true&from=-1years">

<h2>Response Times (max/mean/min)</h2>
<h3>Last 24 hours</h3>
<img width="920" height="200" src="http://nanny.cul.columbia.edu/render/?width=920&height=200&_salt=1337976726.925&target=keepLastValue(ccnmtl.app.timers.wardenclyffe.view.GET.lower)&target=keepLastValue(ccnmtl.app.timers.wardenclyffe.view.GET.mean)&target=keepLastValue(ccnmtl.app.timers.wardenclyffe.view.GET.upper)&hideGrid=true&hideLegend=true&from=-24hours"/>

<h3>Last Week</h3>
<img width="920" height="100" src="http://nanny.cul.columbia.edu/render/?width=920&height=100&_salt=1337976726.925&target=keepLastValue(ccnmtl.app.timers.wardenclyffe.view.GET.lower)&target=keepLastValue(ccnmtl.app.timers.wardenclyffe.view.GET.mean)&target=keepLastValue(ccnmtl.app.timers.wardenclyffe.view.GET.upper)&hideGrid=true&hideLegend=true&from=-7days"/>

<h3>Last Month</h3>
<img width="920" height="100" src="http://nanny.cul.columbia.edu/render/?width=920&height=100&_salt=1337976726.925&target=keepLastValue(ccnmtl.app.timers.wardenclyffe.view.GET.lower)&target=keepLastValue(ccnmtl.app.timers.wardenclyffe.view.GET.mean)&target=keepLastValue(ccnmtl.app.timers.wardenclyffe.view.GET.upper)&hideGrid=true&hideLegend=true&from=-1months"/>

<h3>Last Year</h3>
<img width="920" height="100" src="http://nanny.cul.columbia.edu/render/?width=920&height=100&_salt=1337976726.925&target=keepLastValue(ccnmtl.app.timers.wardenclyffe.view.GET.lower)&target=keepLastValue(ccnmtl.app.timers.wardenclyffe.view.GET.mean)&target=keepLastValue(ccnmtl.app.timers.wardenclyffe.view.GET.upper)&hideGrid=true&hideLegend=true&from=-1years"/>

<h2>Errors</h2>
<h3>Last 24 hours</h3>
<img width="920" height="200" src="http://nanny.cul.columbia.edu/render/?width=920&height=200&_salt=1337976132.743&target=ccnmtl.app.counters.wardenclyffe.response.404&target=ccnmtl.app.counters.wardenclyffe.response.500&graphOnly=false&hideGrid=true">
<h3>Last week</h3>
<img width="920" height="100" src="http://nanny.cul.columbia.edu/render/?width=920&height=100&_salt=1337976132.743&target=ccnmtl.app.counters.wardenclyffe.response.404&target=ccnmtl.app.counters.wardenclyffe.response.500&graphOnly=false&hideGrid=true&from=-7days">
<h3>Last month</h3>
<img width="920" height="100" src="http://nanny.cul.columbia.edu/render/?width=920&height=100&_salt=1337976132.743&target=ccnmtl.app.counters.wardenclyffe.response.404&target=ccnmtl.app.counters.wardenclyffe.response.500&graphOnly=false&hideGrid=true&from=-1months">
<h3>Last year</h3>
<img width="920" height="100" src="http://nanny.cul.columbia.edu/render/?width=920&height=100&_salt=1337976132.743&target=ccnmtl.app.counters.wardenclyffe.response.404&target=ccnmtl.app.counters.wardenclyffe.response.500&graphOnly=false&hideGrid=true&from=-1years">


{% endblock %}
