{% extends 'base.html' %}
{% block title %}Add Video{% endblock %}
{% block pagetitle %}Add Video{% endblock %}
{% block extra_head %}
<script src="/site_media/js/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="/site_media/js/jquery.autocomplete.min.js"></script>
<link rel="stylesheet" type="text/css" href="/site_media/css/jquery.tagsinput.css" />
<link rel="stylesheet" type="text/css" href="/site_media/css/jquery.autocomplete.css" />
{% endblock %}

{% block content %}
<form action="." method="post" enctype="multipart/form-data">

<div class="panel_top">
	<div class="form_video_source">
		<div class="form_video_source_title">Video source:</div>
		<div class="wc_button active_button">Desktop</div><!-- class="wc_button" -->
		<div class="wc_button inactive_button"><a href="/scan_directory/" title="Upload files from the drop-off directory">Drop-off directory</a></div><!-- class="wc_button" -->
		<div class="wc_help_button">?</div><!-- class="wc_help_button" -->
	</div><!-- class="form_video_source" -->
	<div class="form_video_series">
		<div class="form_video_series_title">
		 <label for="id_series">Series:</label>
		</div>
		{{ form.series }}
	</div><!-- class="form_video_series" -->
	<div class="visualclear"></div>
</div><!-- class="panel_top" -->

<div class="panel_middle">
	<div class="leftcol">
		<div class="sectionbox">
			<div class="fieldwrapper">
			<label for="id_title">Title:</label>
			{{ form.title }}
			</div>
		
			<div class="fieldwrapper">
			<label for="id_description">Description:</label>
			{{ form.description }}
			</div>
		
			<div class="fieldwrapper">
			<label for="id_subject">Subject(s):</label>
			{{ form.subject }}
			</div>

			<div class="fieldwrapper">
			<label for="id_tags">Tag(s):</label>
			{{ form.tags }}
			</div>

		</div><!-- class="sectionbox" -->
	</div><!--  class="leftcol" -->
	<div class="rightcol">
		<div class="sectionbox">mm</div><!-- class="sectionbox" -->
		<div class="sectionbox">mm</div><!-- class="sectionbox" -->
	</div><!-- class="rightcol" -->
	<div class="visualclear"></div>
</div><!-- class="panel_middle" -->

<div class="panel_bottom">
	<div class="visualclear"></div>
</div><!-- class="panel_bottom" -->

		




</form>
<script type="text/javascript">
jQuery(document).ready(function() 
    { 
    jQuery('#id_tags').tagsInput({
      autocomplete_url:'/api/tagautocomplete',
      defaultText: 'Add a tag...'
      }
     );
    jQuery('#id_subject').tagsInput({
      autocomplete_url:'/api/subjectautocomplete',
      defaultText: 'Add a subject...'
      }
     );

   }
);

</script>
{% endblock %}
<!--  -->