{% extends 'base.html' %}
{% block js %}

{{block.super}}

<script type="text/javascript">
$(document).ready(function() 
    { 
        $(".tablesorter").tablesorter({widgets: ['zebra']}); 
    } 
); 
   

</script>

{% endblock %}

{% block content %}
<h2>User: {{viewuser.first_name}} {{viewuser.last_name}}</h2>

{% if operations %}
<h3>Recent Operations for {{viewuser.first_name}} {{viewuser.last_name}}</h3>

<table style="width: 100%" class="tablesorter">
<thead>
<tr>
  <th>action</th>
  <th>video</th>
  <th>status</th>
  <th>last update</th>
</tr>
</thead>
<tbody>
{% for operation in operations %}
<tr class="{% cycle 'odd' 'even' %}">
  <td>{{operation.action}}</td>
  <td><a href="{{operation.video.series.get_absolute_url}}">{{operation.video.series.title}}</a>/<a href="{{operation.video.get_absolute_url}}">{{operation.video.title}}</a></td>
  <td class="{{operation.status}}">{{operation.status}}</td>
  <td><nobr>{{operation.modified|date:"M d, Y H:i:s"}}</nobr></td>
</tr>
{% endfor %}
</tbody>
</table>

{% else %}
<p>No operations initiated by this user.</p>
{% endif %}
{% endblock %}
