{% extends 'base.html' %}
{% load markup %}
{% load thumbnail %}

{% block content %}
<p>In Series: <a href="{{video.series.get_absolute_url}}">{{video.series.title}}</a></p>
<h1>{{video.title}}</h1>


<div id="tabs">

<ul>
  <li><a href="#basics">Basics</a></li> 
  <li><a href="#frames">Frames</a></li>
  <li><a href="#operations">Operations/History</a></li>
  <li><a href="#files">Files</a></li>
  <li><a href="#actions">Actions</a></li>
</ul>

<div id="basics">


<table>
<tr><th>creator</th><td><a href="/video/?creator={{video.creator}}">{{video.creator}}</a></td></tr>
<tr><th>description</th><td><a href="/video/?description={{video.description}}">{{video.description}}</a></td></tr>
<tr><th>language</th><td><a href="/video/?language={{video.language}}">{{video.language}}</a></td></tr>
<tr><th>subject</th><td><a href="/video/?subject={{video.subject}}">{{video.subject}}</a></td></tr>
<tr><th>license</th><td><a href="/video/?license={{video.license}}">{{video.license}}</a></td></tr>
<tr><th>created</th><td>{{video.created|date:"r"}}</td></tr>
<tr><th>last modified</th><td>{{video.modified|date:"r"}}</td></tr>
</table>



</div>


<div id="frames">
{% if video.image_set.count %}
{% for image in video.image_set.all %}
{% thumbnail image.image "200x200" as thmb %}
<img src="{{thmb.absolute_url}}" />
{% endfor %}
<br style="clear:both" />
{% endif %}
</div>

<div id="files">
{% if video.file_set.count %}
<table>
<tr>
<th>label</th>
<th>url</th>
<th>tahoe cap</th>
<th>filename</th>
<th>location type</th>
</tr>
{% for file in video.file_set.all %}
<tr class="{% cycle 'even' 'odd' %}">
<th><a href="{{file.get_absolute_url}}">{{file.label}}</a></th>
<td>{{file.url}}</td>
<td>{{file.cap}}</td>
<td>{{file.filename}}</td>
<td>{{file.location_type}}</td>
</tr>
{% endfor %}
</table>
{% endif %}
</div>

<div id="operations">
{% if video.operation_set.count %}
<h2>Operations</h2>

<table>

<tr>
  <th>action</th>
  <th>owner</th>
  <th>status</th>
  <th>params</th>
  <th>started</th>
  <th>last update</th>
</tr>

{% for operation in video.operation_set.all %}
<tr class="operation">
  <td>{{operation.action}}</td>
  <td>{{operation.owner.first_name}} {{operation.owner.last_name}}</td>
  <td class="{{operation.status}}">{{operation.status}}</td>
  <td>{{operation.params}}</td>
  <td>
    <nobr>{% ifchanged operation.created.date %}{{operation.created|date:"Y-m-d H:i:s"}}{% else %}{{operation.created|date:"H:i:s"}}{% endifchanged %}</nobr></td>
  <td><nobr>{{operation.modified|date:"Y-m-d H:i:s"}}</nobr></td>
</tr>
{% if operation.operationfile_set.count %}
{% for of in operation.operationfile_set.all %}
<tr class="file">
<td>{{of.file.label}}</td>
<td>{{of.file.url}}</td>
<td>{% if of.file.cap %}<a href="{{of.file.tahoe_download_url}}">{{of.file.filename}}</a>{% endif %}</td>
<td>{{of.file.location_type}}</td>
<td><nobr>{{of.file.created|date:"Y-m-d H:i:s"}}</nobr></td>
<td><nobr>{{of.file.modified|date:"Y-m-d H:i:s"}}</nobr></td>
</tr>
{% endfor %}
{% endif %}

{% if operation.operationlog_set.count %}
{% for log in operation.operationlog_set.all %}
<tr class="log">
<td></td>
<td colspan="4">{{log.info}}</td>
<td><nobr>{{log.created|date:"Y-m-d H:i:s"}}</nobr></td>

</tr>
{% endfor %}


{% endif %}
{% endfor %}

</table>
{% endif %}
</div>

<div id="actions">
{% if video.tahoe_download_url %}
<p><a href="pcp_submit/">submit to another PCP workflow</a></p>

<p>Raw HTML Embed code:</p>

<textarea rows="3" cols="100">
&lt;script type="text/javascript" src="http://ccnmtl.columbia.edu/stream/jsembed?player=download_mp4_v3&amp;file={{video.tahoe_download_url}}&amp;width=480&amp;height=360&amp;poster=http://ccnmtl.columbia.edu/broadcast/posters/vidthumb_480x360.jpg&amp;protection=5916f0fe8ab583c47adf39fbe3a80086b7122994">&lt;/script>
</textarea>

<p>Preview</p>

<script type="text/javascript" src="http://ccnmtl.columbia.edu/stream/jsembed?player=download_mp4_v3&file={{video.tahoe_download_url}}&width=480&height=360&poster=http://ccnmtl.columbia.edu/broadcast/posters/vidthumb_480x360.jpg&protection=5916f0fe8ab583c47adf39fbe3a80086b7122994"></script>

{% endif %}
</div>
</div>
<script>
$(function() {
  $( "#tabs" ).tabs();
});
</script>
{% endblock %}
