{% extends 'base.html' %}
{% load markup %}
{% load thumbnail %}

{% block content %}
<h1>{{video.title}}</h1>
<p>created: <i>{{video.created|date:"r"}}</i><br />
last modified: <i>{{video.modified|date:"r"}}</i></p>
<h2>Description</h2>
{{video.description|markdown}}
<h2>Notes</h2>
{{video.notes|markdown}}

{% if video.metadata_set.count %}
<h2>Metadata</h2>
<table>
{% for m in video.metadata_set.all %}
<tr class="{% cycle 'even' 'odd' %}">
<th>{{m.field}}</th>
<td>{{m.value}}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% if video.image_set.count %}
<h2>Frames</h2>
{% for image in video.image_set.all %}
{% thumbnail image.image "200x200" as thmb %}
<img src="{{thmb.absolute_url}}" />
{% endfor %}
<br style="clear:both" />
{% endif %}

{% if video.operation_set.count %}
<h2>Operations</h2>

<table>

<tr>
  <th>action</th>
  <th>owner</th>
  <th>status</th>
  <th>params</th>
  <th>started</th>
  <th>last update</th>
</tr>

{% for operation in video.operation_set.all %}
<tr class="operation">
  <td>{{operation.action}}</td>
  <td>{{operation.owner.first_name}} {{operation.owner.last_name}}</td>
  <td class="{{operation.status}}">{{operation.status}}</td>
  <td>{{operation.params}}</td>
  <td>
    <nobr>{% ifchanged operation.created.date %}{{operation.created|date:"Y-m-d H:i:s"}}{% else %}{{operation.created|date:"H:i:s"}}{% endifchanged %}</nobr></td>
  <td><nobr>{{operation.modified|date:"Y-m-d H:i:s"}}</nobr></td>
</tr>
{% if operation.operationfile_set.count %}
{% for of in operation.operationfile_set.all %}
<tr class="file">
<td>{{of.file.label}}</td>
<td>{{of.file.url}}</td>
<td>{% if of.file.cap %}<a href="{{of.file.tahoe_download_url}}">{{of.file.filename}}</a>{% endif %}</td>
<td>{{of.file.location_type}}</td>
<td><nobr>{{of.file.created|date:"Y-m-d H:i:s"}}</nobr></td>
<td><nobr>{{of.file.modified|date:"Y-m-d H:i:s"}}</nobr></td>
</tr>
{% endfor %}
{% endif %}

{% if operation.operationlog_set.count %}
{% for log in operation.operationlog_set.all %}
<tr class="log">
<td></td>
<td colspan="4">{{log.info}}</td>
<td><nobr>{{log.created|date:"Y-m-d H:i:s"}}</nobr></td>

</tr>
{% endfor %}


{% endif %}
{% endfor %}

</table>
{% endif %}

{% if video.tahoe_download_url %}
<p><a href="pcp_submit/">submit to another PCP workflow</a></p>
{% endif %}

{% endblock %}
