{% extends 'base.html' %}
{% load markup %}
{% block content %}

<h1>workflows</h1>

{% if workflows %}
<table style="width: 100%"> 
<tr>
  <th>workflow</th>
  <th>uuid</th>
  <th>description</th>
</tr>
{% for workflow in workflows %}
<tr class="{% cycle 'odd' 'even' %}">
<th align="left">{{workflow.title}}</th>
<td><nobr><tt>{{workflow.uuid}}</tt></nobr></td>
<td>{{workflow.description}}</td>
</tr>
{% endfor %}
</table>

{% else %}
<p>Can't get a list of workflows. Is Kino up at <a href="{{kino_base}}">{{kino_base}}</a>?</p>
{% endif %}

{% endblock %}
