{% extends 'base.html' %}

{% block js %}

{{block.super}}

<script type="text/javascript">

var selectAll = function()   {
   $(".file_checkbox").attr('checked','checked');
};
var deselectAll = function() {
   $(".file_checkbox").attr('checked','');
};

</script>

{% endblock %}


{% block content %}

<form action="/bulk_file_operation/" method="get">

<table>
<tr>
<th></th>
<th>file</th>
<th>audio format</th>
<th>video format</th>
</tr>
{% for file in broken_files %}
<tr>
<td><input class="file_checkbox" type="checkbox" name="file_{{file.id}}" /></td>
<td><a href="{{file.get_absolute_url}}">{{file.filename}}</a></td>
<td>{% if file.audio_format %}{{file.audio_format}}{% endif %}</td>
<td>{% if file.video_format %}{{file.video_format}}{% endif %}</td>
</tr>
{% endfor %}
</table>

<input type="button" value="select all" onclick="selectAll()"/>
<input type="button" value="deselect all" onclick="deselectAll()"/>
<input type="submit" value="submit selected files to PCP workflow" />
</form>

{% endblock %}
