<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %} || Wardenclyffe</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{STATIC_URL}}js/lib/bootstrap/css/bootstrap.min.css">

        <!-- FontAwesome CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

        <link rel="stylesheet" href="{{STATIC_URL}}css/wardenclyffe.css?site=wardenclyffe" media="screen" />
        <link rel="stylesheet" href="{{STATIC_URL}}css/print.css?site=wardenclyffe" media="print" />

        <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.png" type="image/x-icon" />
        {% block css %}{% endblock %}

        {% include "ctlsettings/sentry_js.html" %}

        {% block js %}
            {% include 'main/jquery.html' %}
            <script src="{{STATIC_URL}}js/jquery.tablesorter.min.js" type="text/javascript"></script>
        {% endblock %}
        {% block feeds %}{% endblock %}
        {% block extra_head %}{% endblock %}
    </head>

    <body class="{% block bodyclass %}{% endblock %}">
        {% block header %}
        <header>
            <!-- Fixed navbar -->
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="/">
                    <img src="{{ STATIC_URL}}img/logo_wardenclyffe.png" style="height: 50px">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    {% if not request.user.is_anonymous %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Add
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="/upload/">Video</a>
                          <a class="dropdown-item" href="/add_collection/">Collection</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Manage
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="/tag/">Tags</a>
                          <a class="dropdown-item" href="/streamlogs/list/">Streamlogs</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Advanced
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="/dashboard/">Operations</a>
                          <a class="dropdown-item" href="/surelink/">Surelink</a>
                          <a class="dropdown-item" href="/servers/">Servers</a>
                          <a class="dropdown-item" href="/uuid_search/">Search by UUID</a>
                          <a class="dropdown-item" href="/slow_operations/">Slow Operations</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/search/">Search</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav">
                    {% if not request.user.is_anonymous %}
                        <li class="nav-item">
                            <a class="nav-link" href="/user/{{user.username}}/">Hello {% if user.first_name %}{{user.first_name}}{% else %}{{ user.username }}{% endif %}</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        {% if request.user.is_anonymous %}
                            <a class="nav-link" id="login-link" href="#" data-toggle="modal" data-target="#login-modal">Log In</a>
                        {% else %}
                            <a class="nav-link" href="/accounts/logout/?next=/"><span title="Log Out">Log Out</span></a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            </nav>
        </header>
        {% endblock %}

        <main role="main" class="container-fluid">
            <h1 class="top">{% block pagetitle %}{% endblock %}</h1>
            {% block breadcrumb %}{% endblock %}
            {% block content %}{% endblock %}
        </main>

        {% block footer %}
        <footer role="contentinfo">
            <div class="container">
                <h1 class="sr-only" role="presentation"> is produced by:</h1>
                <ul class="footer-logos" role="presentation">
                    <li itemscope="" itemtype="http://schema.org/EducationalOrganization"><a href="https://ctl.columbia.edu" target="_blank" itemprop="url"><img src="{{STATIC_URL}}img/logo-ctl.png" alt="" itemprop="logo"><span class="sr-only" itemprop="name">Center for Teaching and Learning at Columbia University</span></a></li>
                </ul>
            </div>
            <div class="d-print-block">
            <p role="presentation">Printed from: https://wardenclyffe.ctl.columbia.edu/</p>
            </div>
        </footer>
        {% endblock %}

        <script src="{{STATIC_URL}}js/lib/popper/popper.min.js"></script>
        <script src="{{STATIC_URL}}js/lib/bootstrap/js/bootstrap.min.js"></script>

        <script>
        jQuery(function($){
            $("ul.subnav").parent().addClass("globalnavsub");
            $("ul.topnav .globalnavsub").click(function() {
                //Following events are applied to the subnav itself (moving subnav up and down)
                $(this).find("ul.subnav").slideDown('fast').show(); //Drop down the subnav on click
                $(this).hover(function() {
                }, function(){
                    $(this).find("ul.subnav").slideUp('slow'); //When the mouse hovers out of the subnav, move it back up
                });
            });
        });
        </script>

        {% block jquery %}
        {% endblock %}
    </body>
</html>
