{% extends 'base.html' %}

{% block pagetitle %}Streaming Logs{% endblock %}

{% block content %}
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'streamlogs-report' %}">Graph</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'streamlogs-list' %}">List</a>
      </li>
    </ul>
    <hr />

    <form class="form-inline" action="{% url 'streamlogs-list' %}">
        <input type="hidden" name="sort_by" value="{{sort_by}}" />
        <input type="hidden" name="direction" value="{{direction}}" />
        <input type="hidden" name="page" value="{{page}}" />

        <div class="form-group{% if form.q.errors %} has-error{% endif %}">
            <label for="keyword-search">Keyword:</span></label>
            <input class="form-control" type="text" name="q" placeholder="Find..." value="{{q}}">
        </div>&nbsp;
        <button type="submit" class="btn btn-default">
            <i class="fa fa-search" aria-hidden="true"></i> Search
        </button>&nbsp;
        <button type="reset" class="btn btn-default">
            <i class="fa fa-times" aria-hidden="true"></i> Clear
        </button>
    </form>

    <!-- Results navigation  -->
    <div class="visualclear"></div>
    <div>
        <div class="float-right">
            {% include 'main/pagination.html' %}
        </div>
    </div>
    <div class="visualclear"></div>
    <br />

    <div class="table-responsive">
        <table class="table table-striped table-videos">
        <thead>
            <tr>
                <th data-sort-by="request_at" >timestamp</th>
                <th data-sort-by="filename">filename</th>
                <th data-sort-by="video__title">video</th>
            </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td><a href="{% url 'streamlogs-detail' object.pk %}">{{object.request_at}}</a></td>
                <td><tt>{{object.filename}}</tt></td>
                <td>
                    {% with video=object.video %}
                        {% if video %}
                            <a href="{% url 'video-details' video.pk %}">{{video.title}}</a>
                        {% else %}{% if '.flv' in object.filename %}
                            <form action="{% url 'import-flv' %}" method="POST">
                                <input type="hidden" name="flv" value="{{object.filename}}" />
                                <input type="submit" value="import flv" />
                            </form>
                        {% endif %}{% endif %}
                    {% endwith %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Results navigation  -->
    <div class="visualclear"></div>
    <div>
        <div class="float-right">
            {% include 'main/pagination.html' %}
        </div>
    </div>
    <div class="visualclear"></div>
    <br />


{% endblock %}
