{% extends 'base.html' %}

{% block content %}
    <p><a href="{% url 'streamlogs-list' %}">Back to List</a></p>

    {% with object=object_list.first %}
    <table>
        <tbody>
            <tr>
                <th>Timestamp</th><td>{{ object.request_at }}</td>
            </tr>
            <tr>
                <th>Video</th>
                <td>
                    {% with video=object.video %}
                        {% if video %}
                            <a href="{% url 'video-details' video.pk %}">{{video.title}}</a>
                        {% else %}
                            No matching video in Wardenclyffe
                        {% endif %}
                    {% endwith %}
                </td>
            </tr>
            <tr>
                <th>Filename</th><td><tt>{{object.filename}}</tt></td>
            </tr>
        </tbody>
    </table>
    {% endwith %}

    <!-- Results navigation  -->
    <div class="visualclear"></div>
    <div>
        <div class="float-right">
            {% include 'main/pagination.html' %}
        </div>
    </div>
    <div class="visualclear"></div>
    <br />

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Request At</th>
                <th>Remote Address</th>
                <th>User Agent</th>
                <th>Referer</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td style="width: 150px">{{object.request_at}}</td>
                <td>{{object.remote_addr}}</td>
                <td>{{object.user_agent}}</td>
                <td>{{object.referer}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
